<a id="top"></a>
<h1 style="font-size:50px; color:#3A71AE"><center>Wrangle WeRateDogs</center></h1>

<h1 style="font-size:35px; color:#3A71AE">Table of Content:</h1>

1. [**Introduction**](#id_1)
2. [**Notebook Structure**](#id_2)
3. [**Data Wrangling Process**](#id_3)
4. [**Data Storing**](#id_4)

<a id="id_1"></a>
<h1 style="font-size:30px; color:#3A71AE">Introduction</h1>

[**Data wrangling**](https://en.wikipedia.org/wiki/Data_wrangling) or sometimes referred to as data munging, is the process of transforming and mapping data from one "raw" data form into another format with the intent of making it more appropriate and valuable for a variety of downstream purposes such as analytics.

**Note:** In this project there will be two notebooks, this one [**Wrangle WeRateDogs**](#top) that contains the `data wrangling` process and [**Analyze and Visualize WeRateDogs**](01_analyze_visualize.ipynb) that contains the visualization process.

Before anything, let's find out:
- [**The Dataset**](#id_1_1)
- [**Notebook Outline**](#id_1_2)
- [**Our Goal**](#id_1_3)


[Back to Top](#top)

<a id="id_1_1"></a>
## [The Dataset](#id_1_1)
**The dataset** we will be wrangling (and analyzing and visualizing) is the tweet archive of Twitter user [@dog_rates](https://twitter.com/dog_rates), also known as [WeRateDogs](https://en.wikipedia.org/wiki/WeRateDogs). WeRateDogs is a Twitter account that rates people's dogs with a humorous comment about the dog. These ratings almost always have a denominator of 10. The numerators, though? Almost always greater than 10 (`11/10`, `12/10`, `13/10`, etc).

[Back to Introduction](#id_1)

<a id="id_1_2"></a>
## [Notebook Outline](#id_1_2)
In this **Notebook** we will perform all of the processes below for [The Dataset](#id_1_1):
- [ ] Gathering
- [ ] Assessing
- [ ] Cleaning
- [ ] Storing
- [ ] Analyzing
- [ ] Visualizing
- [ ] Reporting<br><br>

[Back to Introduction](#id_1)

<a id="id_1_3"></a>
## [Our Goal](#id_1_3)
Our goal is to wrangle **WeRateDogs** Twitter data to create interesting and trustworthy analyses and visualizations.

[Back to Introduction](#id_1)

<a id="id_2"></a>
<h1 style="font-size:30px; color:#3A71AE">Notebook Structure</h1>

**This Notebook will be structured as follows:**<br>
- We will start with [Data Wrangling Process](#id_3) to [Gather](#id_3_1), [Assess](#id_3_2) and [Clean](#id_3_3) **WeRateDogs** tweets.
- After wrangling our data, we will storing it for any future purposes.
- Then the Analyzing and Visualizing will come.
- Finally, we will report our efforts.

[Back to Top](#top)

<a id="id_3"></a>
<h1 style="font-size:30px; color:#3A71AE">Data Wrangling Process</h1>

Data wrangling consists of three steps:
1. [**Gathering Data**](#id_3_1)
2. [**Assessing Data**](#id_3_2)
3. [**Cleaning Data**](#id_3_3)

[Back to Top](#top)

<a id="id_3_1"></a>
# [1. Gathering Data](#id_3_1)
[Gathering data](https://ori.hhs.gov/education/products/n_illinois_u/datamanagement/dctopic.html) is the first step in data wrangling. It is the process of collecting and measuring information on variables of interest, in an established systematic fashion that enables one to answer stated research questions, test hypotheses, and evaluate outcomes.

### Gathering data can be done in two ways:
- **Manually**, by simply click a button and download the file.
- **Programmatically**, through [web scraping](https://en.wikipedia.org/wiki/Web_scraping), [requesting URLs](https://requests.readthedocs.io/en/master/) or [APIs](https://www.mulesoft.com/resources/api/what-is-an-api).

### There are three types of data we need to collect for this projects:
- [**Enhanced Twitter Archive**](#id_3_1_1)
- [**Image Predictions File**](#id_3_1_2)
- [**Additional Data via the Twitter API**](#id_3_1_3)

[Back to Data Wrangling Process](#id_3)

<a id="id_3_1_1"></a>
## [Enhanced Twitter Archive](#id_3_1_1)
The [WeRateDogs](https://twitter.com/dog_rates?lang=ar) Twitter archive contains basic tweet data for Tweets with ratings only (there are 2356).

This data is ready, and all what we need to do is to **download** it **manually** through this link [twitter_archive_enhanced.csv](https://d17h27t6h515a5.cloudfront.net/topher/2017/August/59a4e958_twitter-archive-enhanced/twitter-archive-enhanced.csv) from [Udacity](udacity.com).

[Back to Gathering data](#id_3_1)

<a id="id_3_1_2"></a>
## [Image Predictions File](#id_3_1_2)
It's a file of predictions about what breed of dog (or other object, animal, etc.) is present in each tweet according to a neural network. 

This file `image_predictions.tsv` is hosted on Udacity's servers and we need to **download** it **programmatically** using the [Requests](https://pypi.org/project/requests/) library and the following URL:<br>
`https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv`

[Back to Gathering Data](#id_3_1)

In [66]:
# Import requests and os library to request the url and store it in data forder
import requests
import os

folder_data = 'data'

# Create folder named data, if it not exist, to store the file in
if not os.path.exists(folder_data):
    os.makedirs(folder_data)

# The url for "image_predictions.tsv" from Udacity
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"

# request a response from Udacity server using request library
response = requests.get(url)

# displaying the respone contents
response.content[:500]

b'tweet_id\tjpg_url\timg_num\tp1\tp1_conf\tp1_dog\tp2\tp2_conf\tp2_dog\tp3\tp3_conf\tp3_dog\n666020888022790149\thttps://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg\t1\tWelsh_springer_spaniel\t0.465074\tTrue\tcollie\t0.156665\tTrue\tShetland_sheepdog\t0.0614285\tTrue\n666029285002620928\thttps://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg\t1\tredbone\t0.506826\tTrue\tminiature_pinscher\t0.07419169999999999\tTrue\tRhodesian_ridgeback\t0.07201\tTrue\n666033412701032449\thttps://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg\t1\tGerman_shepherd\t0.596461'

In [67]:
# Writing the response content to "image_predictions.tsv" in data folder
with open(os.path.join(folder_data, 'image_predictions.tsv'), 'wb') as f:
    f.write(response.content)

<a id="id_3_1_3"></a>
## [Additional Data via the Twitter API](#id_3_1_3)
We also need to gather, retweet count and favorite count. Fortunately, this additional data can be gathered by anyone from [Twitter's API](https://developer.twitter.com/en/docs). We're going to query Twitter's API to gather this valuable data.

**Note:** Twitter API data comes in `JSON` format.

[Back to Gathering Data](#id_3_1)

In [68]:
# Creating a function to display JSON files in a nice and human readable way
# Source: https://www.reddit.com/r/IPython/comments/34t4m7/lpt_print_json_in_collapsible_format_in_ipython/
import uuid
from IPython.display import display_javascript, display_html, display
import json

class RenderJSON(object):
    def __init__(self, json_data):
        if isinstance(json_data, dict):
            self.json_str = json.dumps(json_data)
        else:
            self.json_str = json_data
        self.uuid = str(uuid.uuid4())

    def _ipython_display_(self):
        display_html('<div id="{}" style="height: 600px; width:100%;"></div>'.format(self.uuid), raw=True)
        display_javascript("""
        require(["https://rawgit.com/caldwell/renderjson/master/renderjson.js"], function() {
        document.getElementById('%s').appendChild(renderjson(%s))
        });
        """ % (self.uuid, self.json_str), raw=True)

In [69]:
# Importing tweepy library to quary the wanted tweets from Twitter's APIsand pandas
import tweepy
import pandas as pd

# setting consumer key and secret, also, access token and secret for authentication purposes
consumer_key = "RQ71XK3zAUTenUz9M35OQlXcI"
consumer_secret = "za8Hby6CxIn6ROMVA4yYjKPfsK4BIeWuqNapAntoXkxgyCeYZ7"
access_token = "832729167867187201-Elnf7IEPzl7l6cmtF74w3p1iZ29xxTz"
access_secret = "rV0nrGqRiKKb4Ck3d24wmfZ3PqB0OdbkQCmrO4wiq73VH"

# Creating an OAuthHandler instance
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

# Creating tweepy API class
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

# Reading "twitter_archive_enhanced.csv" to get each tweet id
twitter_archive = pd.read_csv(os.path.join(folder_data, "twitter_archive_enhanced.csv"))

# Creating list for tweet ids
tweet_ids = list(twitter_archive['tweet_id'])

# Displaying the first tweet in twitter_archive df (as a JSON format) in a nice way using the predefined RenderJSON() function
RenderJSON(api.get_status(twitter_archive['tweet_id'][0], tweet_mode='extended')._json)

In [70]:
# Importing json library to read and write json files
import json

# The direction to save json file
tweet_json_dir = os.path.join(folder_data, 'tweet_json.txt')
# Delete the file if it exist in order to start fresh.
if os.path.exists(tweet_json_dir):
    os.remove(tweet_json_dir)

# Reading each tweet from tweets list and get its order number using enumerate()
# We need to maintain json file's structure as list of dictionaries, to load it later using json.load()
for id_number, tweet_id in enumerate(tweet_ids):
    try:
        # Getting each tweet status as json format
        tweet_json = api.get_status(tweet_id, tweet_mode='extended')._json
        
        # by using append mode, append each tweet's JSON data on its own line
        with open(tweet_json_dir, 'a') as file:
            # Adding ("[", json text, "," and new line) if it's the first json text
            if id_number == 0:
                file.write('[')
                json.dump(tweet_json, file)
                file.write(',\n')
                print(id_number, tweet_id)
                
            # Adding only (json text and "]") if it's the last json text
            elif id_number == (len(tweet_ids)-1):
                json.dump(tweet_json, file)
                file.write(']')
                print(id_number, tweet_id)
            
            # Adding (json text "," and new line) for anything between
            else:
                json.dump(tweet_json, file)
                file.write(',\n')
                print(id_number, tweet_id)
                
    # Catch errors and print it
    except Exception as e:
        print(id_number, e)

In [71]:
import pandas as pd
import numpy as np
from os.path import join
import json

# Reading "twitter_archive_enhanced" file as comma separated value file
enhanced_archive = pd.read_csv(join(folder_data, 'twitter_archive_enhanced.csv'))

# Reading "image_predictions" file as tab separated value file
image_predictions = pd.read_csv(join(folder_data, 'image_predictions.tsv'), sep='\t')

# Now let's read getretweet and favorite counts from "tweet_json.txt"
# 'tweets_json.txt' file
with open(join(folder_data, 'tweet_json.txt')) as file:
    tweets_json_txt = json.load(file)

# Create dataframe list
retweet_favorite_counts_ls = []

# for each tweet append tweet_id, retweet_count and favorite_count to dataframe_list
for tweet_json_txt in tweets_json_txt:
    retweet_favorite_counts_ls.append({'tweet_id' : tweet_json_txt['id'],
                                   'retweet_count' : tweet_json_txt['retweet_count'],
                                   'favorite_count' : tweet_json_txt['favorite_count']})

# Create a dataframe for retweet_count and favorite_count
retweet_favorite_counts = pd.DataFrame(retweet_favorite_counts_ls)

display(enhanced_archive.head(2))
display(image_predictions.head(2))
display(retweet_favorite_counts.head(2))

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True

             tweet_id  retweet_count  favorite_count
0  892420643555336193           7565           35769
1  892177421306343426           5605           30898

<a id="id_3_1_4"></a>
> ### [So Far, So Good](#id_3_1_4)
Now we have `gathered` **manually** and **programmatically** all the data we wanted to reach [Our Goal](#id_1_3). So, let's proceed to [Assessing Data](#id_3_2) phase.
>- [x] Gathering
>- [ ] Assessing
>- [ ] Cleaning
>- [ ] Storing
>- [ ] Analyzing
>- [ ] Visualizing
>- [ ] Reporting
>
>[Back to Gathering Data](#id_3_1)

<a id="id_3_2"></a>
# [2. Assessing Data](#id_3_2)
Then let's start Assessing our data. We are going to inspect our dataset for two things, data quality issues (i.e. content issues) and lack of tidiness (i.e. structural issues), through two steps: detecting and documentation, by using two types of assessments: visual assessment and programmatic assessment.
 - [**Data Issues Types**](#id_3_2_1)
 - [**Assessment Steps**](#id_3_2_2)
 - [**Assessment Types**](#id_3_2_3)
 - [**Assessment Docummentions**](#id_3_2_4)
 
[Back to Data Wrangling Process](#id_3)

<a id="id_3_2_1"></a>
## [Data Issues Types](#id_3_2_1)
The two type of issues we are looking for are:
1. [**Quality Issues**](#id_3_2_1_1)
2. [**Structure Issues**](#id_3_2_1_2)
 
[Back to Assessing Data](#id_3_2)

<a id="id_3_2_1_1"></a>
### [1. Quality Issues](#id_3_2_1_1)
Data with issues in its content referred as `Dirty Data` or `Low Quality Data`.

**Common data quality issues include:**
- Missing data
- Invalid data
- Inaccurate data
- Inconsistent data

[Back to Data Issues Types](#id_3_2_1)

<a id="id_3_2_1_2"></a>
### [2. Structure Issues](#id_3_2_1_2)
Data that has issues with its structure is commonly referred as `Messy data` or ` Untidy Data`.

According to this [paper](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html), **In tidy data:**
- Each `variable` forms a `column`.
- Each `observation` forms a `row`.
- Each type of `observational unit` forms a `table`.

[Back to Data Issues Types](#id_3_2_1)

<a id="id_3_2_2"></a>
## [Assessment Steps](#id_3_2_2)
Assessing Phase has two steps:
1. **Detecting**, i.e. finding one of the previously defined [Data Issues](#id_3_2_1) in the dataset.
2. **Documenting**, i.e. documenting this issue as an `observation`.
 
[Back to Assessing Data](#id_3_2)

<a id="id_3_2_3"></a>
## [Assessment Types](#id_3_2_3)
There are two types of Data Assessing:
1. [**Visual Assessment**](#id_3_2_3_1)
2. [**Programmatic Assessment**](#id_3_2_3_2)
 
[Back to Assessing Data](#id_3_2)

<a id="id_3_2_3_1"></a>
### [1. Visual Assessment](#id_3_2_3_1)
Visual assessment is simple. Open the data in an application like (Google Sheets, Excel, a text editor,<br> Pandas `especially if the data is big`, etc.) and scroll through it, looking for [quality](#id_3_2_1_1) and [tidiness](#id_3_2_1_1) issues.<br><br>
<img src="https://assets-global.website-files.com/58e32bace1998d6e3fee8d74/5dfbe3b11bd3f56d754fcfa5_The-Google-Sheets-logo.-compressor.png" style="width:200px"></a><br><br>

The main purpose of **Visual Assessment** is to **acquaint** yourself with the dataset and just trying to understand it,<br> like **`acquiring a mental picture of it`**.
#### Visually Detecte Issues in:
- [Enhanced Twitter Archive](#id_3_2_3_1_1)
- [Image Predictions File](#id_3_2_3_1_2)
- [Additional Data via the Twitter API](#id_3_2_3_1_3)

**Note:** We are going to split our effort into two phases, first `detecting` data issues, then, `documenting` these issues in [Assessment Docummentions](#id_3_2_4) as defined in [Assessment Steps](#id_3_2_2).
 
[Back to Assessment Types](#id_3_2_3)

<a id="id_3_2_3_1_1"></a>
#### [Visually Detecte Issues in: Enhanced Twitter Archive](#id_3_2_3_1_1)

[Back to Visual Assessment](#id_3_2_3_1)<br>
[Advance to Assessment Docummentions](#id_3_2_4)

In [7]:
# Displaying enhanced_archive head and tail
enhanced_archive

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

> **Notes:**
> - Variable `source` and (`<a href="`) string (anchor tag beginning) at the beginning of each value.
> - Variable `timestamp` data type is object not timedate.
> - Values `a` in variable `name`.
> - Values `None` in variable `name`.
> - Unnecessary "stages" variables (`doggo`, `floofer`, `pupper` and `puppo`)
> - "stages" variables values (`None`).
> 
> Now let's document these data issues in [Assessment Docummentions](#id_3_2_4)

<a id="id_3_2_3_1_2"></a>
#### [Visually Detecte Issues in: Image Predictions File](#id_3_2_3_1_2)
 
[Back to Visual Assessment](#id_3_2_3_1)<br>
[Advance to Assessment Docummentions](#id_3_2_4)

In [8]:
# Displaying image_predictions head and tail
image_predictions

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

> **Notes:**
>- Variables `p1`, `p2` and `p3` name values.
>- Variables `p1` through `p3_dog` are unnecessary.
>
>Now let's document these data issues in [Assessment Docummentions](#id_3_2_4)

<a id="id_3_2_3_1_3"></a>
#### [Visually Detecte Issues in: Additional Data via the Twitter API](#id_3_2_3_1_3)

[Back to Visual Assessment](#id_3_2_3_1)<br>
[Advance to Assessment Docummentions](#id_3_2_4)

In [9]:
# Displaying image_predictions head and tail
retweet_favorite_counts

                tweet_id  retweet_count  favorite_count
0     892420643555336193           7565           35769
1     892177421306343426           5605           30898
2     891815181378084864           3715           23238
3     891689557279858688           7751           39065
4     891327558926688256           8346           37308
...                  ...            ...             ...
2326  666049248165822465             40              96
2327  666044226329800704            129             266
2328  666033412701032449             41             111
2329  666029285002620928             42             120
2330  666020888022790149            458            2383

[2331 rows x 3 columns]

> **Notes:**
>- This table is unnecessary.
>
>Now let's document these data issues in [Assessment Docummentions](#id_3_2_4)

<a id="id_3_2_3_2"></a>
### [2. Programmatic Assessment](#id_3_2_3_2)
**Programmatic assessment** is simply means using code to do anything other than looking to the dataset in its **`entirety`**. It tends to be more efficient than visual assessment. 

This types of assessments are handy for gauging data’s structure and also for quickly spotting things that we’ll need to clean.

**Note:** As We did in [Visually Assessment](#id_3_2_3_2), we'll start with `detecting` data issues, then, `documenting` these issues in [Assessment Docummentions](#id_3_2_4) as defined in [Assessment Steps](#id_3_2_2).

We are going to use [Pandas API](https://pandas.pydata.org/docs/reference/index.html) functions and methods in order to programmatically assess the dataset like:
- [DataFrame.sample](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sample.html?highlight=sample#pandas.DataFrame.sample)
- [Series.value_counts](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html?highlight=value_counts#pandas.Series.value_counts)
- [DataFrame.info](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html?highlight=info#pandas.DataFrame.info)
- [DataFrame.dtypes](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html?highlight=dtypes#pandas.DataFrame.dtypes)
- [DataFrame.describe](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html?highlight=describe#pandas.DataFrame.describe)
- [pandas.Series.isnull](https://pandas.pydata.org/docs/reference/api/pandas.Series.isnull.html?highlight=isnull#pandas.Series.isnull)
- [Series.notnull](https://pandas.pydata.org/docs/reference/api/pandas.Series.notnull.html?highlight=notnull#pandas.Series.notnull)

### Programmatically Detecte Issues in:
- [**Enhanced Twitter Archive**](#id_3_2_3_2_1)
- [**Image Predictions File**](#id_3_2_3_2_2)
- [**Additional Data via the Twitter API**](#id_3_2_3_2_3)

[Back to Assessment Types](#id_3_2_3)

<a id="id_3_2_3_2_1"></a>
#### [Programmatic Detecte Issues in: Enhanced Twitter Archive](#id_3_2_3_2_1)

[Back to Programmatic Assessment](#id_3_2_3_2)<br>
[Advance to Assessment Docummentions](#id_3_2_4)

#### Randomly checking the Data
[Back](#id_3_2_3_2_1)

In [10]:
# Display random samples from enhanced_archive
enhanced_archive.sample(20)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1419,698342080612007937,NaN,NaN,2016-02-13 03:05:01 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maximus. He's training for the tetherb...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/698342080...,11,10,Maximus,None,None,None,None
994,748568946752774144,NaN,NaN,2016-06-30 17:28:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cora. She rings a bell for treats. 12/...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/748568946...,12,10,Cora,None,None,None,None
2247,667873844930215936,NaN,NaN,2015-11-21 01:15:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Neat dog. Lots of spikes. Always in push-up po...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667873844...,10,10,None,None,None,None,None
1914,674330906434379776,6.658147e+17,16374678.0,2015-12-08 20:53:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10\n@ABC7,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1943,673709992831262724,NaN,NaN,2015-12-07 03:45:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I know a lot of you are studying for finals. G...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/673709992...,12,10,None,None,None,None,None
753,778774459159379968,NaN,NaN,2016-09-22 01:54:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: In case you haven't seen the mo...,7.580996e+17,4.196984e+09,2016-07-27 00:40:12 +0000,"https://vine.co/v/hQJbaj1VpIz,https://vine.co/...",13,10,None,None,None,None,None
1635,684222868335505415,NaN,NaN,2016-01-05 04:00:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Someone help the girl is being mugged. Several...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684222868...,121,110,None,None,None,None,None
751,779056095788752897,NaN,NaN,2016-09-22 20:33:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Everybody drop what you're doing and look at t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/779056095...,13,10,None,None,None,None,None
474,816091915477250048,NaN,NaN,2017-01-03 01:20:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Comet. He's a Wild Estonian Poofer. Su...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/816091915...,12,10,Comet,None,None,None,None
200,854010172552949760,NaN,NaN,2017-04-17 16:34:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...","At first I thought this was a shy doggo, but i...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/854010172...,11,10,None,doggo,floofer,None,None
1639,684177701129875456,NaN,NaN,2016-01-05 01:00:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Kulet. She's very proud of the flower ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684177701...,10,10,Kulet,None,None,None,None
567,802239329049477120,NaN,NaN,2016-11-25 19:55:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Loki. He'll do your taxes for you. Can...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/802239329...,12,10,Loki,None,None,None,puppo
2153,669661792646373376,NaN,NaN,2015-11-25 23:39:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a brave dog. Excellent free climber. T...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669661792...,5,10,a,None,None,None,None
932,754011816964026368,NaN,NaN,2016-07-15 17:56:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Charlie. He pouts until he gets to go ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/754011816...,12,10,Charlie,None,None,None,None
2127,670319130621435904,NaN,NaN,2015-11-27 19:11:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",AT DAWN...\nWE RIDE\n\n11/10 https://t.co/QnfO...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670319130...,11,10,None,None,None,None,None
1013,747219827526344708,NaN,NaN,2016-06-27 00:07:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Atticus. He's remaining calm but his c...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/747219827...,11,10,Atticus,None,None,None,None
1033,745074613265149952,NaN,NaN,2016-06-21 02:03:25 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",This is Jeffrey. He wasn't prepared to execute...,NaN,NaN,NaN,https://vine.co/v/iQm3JAXuFmv,11,10,Jeffrey,None,None,None,None
616,796484825502875648,NaN,NaN,2016-11-09 22:49:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a sleepy doggo that requested some assi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/796484825...,12,10,None,doggo,None,None,None
1861,675483430902214656,NaN,NaN,2015-12-12 01:12:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Rare shielded battle dog here. Very happy abou...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675483430...,5,10,None,None,None,None,None
1855,675531475945709568,NaN,NaN,2015-12-12 04:23:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ellie AKA Queen Slayer of the Orbs. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675531475...,10,10,Ellie,None,None,None,None

#### Checking `source` and  `rating_denominator` variables.
[Back](#id_3_2_3_2_1)

In [11]:
# source values
enhanced_archive.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

> After checking each of these URLs, I believe that variable came into our data by mistake due to a `human error`!!
    
[Advance to Assessment Docummentions](#id_3_2_4)

In [12]:
# Checking unique values in rating_denominator 
enhanced_archive.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

> Value 10 has the greater part of the variable. But there are other values too (50, 80, 110, etc.). Let's examine the url for some of these values to find out the reason of why the `rating_denominator` is something other than 10

In [13]:
# Examine values (11, 110 and 170)
print(enhanced_archive[enhanced_archive['rating_denominator'] == 11].expanded_urls.iloc[1].split(',')[0],
      enhanced_archive[enhanced_archive['rating_denominator'] == 110].expanded_urls.iloc[0],
      enhanced_archive[enhanced_archive['rating_denominator'] == 170].expanded_urls.iloc[0], sep= '\n')

https://twitter.com/dog_rates/status/740373189193256964/photo/1
https://twitter.com/dog_rates/status/684222868335505415/photo/1
https://twitter.com/dog_rates/status/731156023742988288/photo/1

> These values came either from when the program was fetching and gathering the dog rates as of this form `int` `/` `int`, but the form meant a date like the first URL (`9/11` attack), or the tweet date was before 2017, and there were no fixed standard then.<br><br>
So I think it would be better if we dropped it.

#### Checking variable `expanded_urls` values.
[Back](#id_3_2_3_2_1)

In [14]:
# checking expanded_urls var
enhanced_archive[enhanced_archive['rating_denominator'] == 11].expanded_urls.iloc[1]

'https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1'

> Repeated values in  `expanded_urls` . Let's [document this](#id_3_2_4).

#### Checking variable `name` values.
[Back](#id_3_2_3_2_1)

In [15]:
# Check values 'a' in name columns URLs
[url for url in enhanced_archive[enhanced_archive['name'] == 'a'].expanded_urls[:3]]

['https://twitter.com/dog_rates/status/881536004380872706/video/1',
 'https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.com/dog_rates/status/792913359805018113/photo/1',
 'https://twitter.com/dog_rates/status/772581559778025472/photo/1,https://twitter.com/dog_rates/status/772581559778025472/photo/1,https://twitter.com/dog_rates/status/772581559778025472/photo/1']

> Appearently, the tweet with no dog names have `a` instead. Let's if there are any other name values fetched by mistake too.

In [16]:
# get only names with length less 3
short_names = enhanced_archive.name[enhanced_archive.name.map(lambda x: True if len(str(x)) < 3 else(False))].value_counts()
short_names

a     55
Bo     9
an     7
O      1
Mo     1
by     1
JD     1
Al     1
Jo     1
Ed     1
my     1
Name: name, dtype: int64

In [17]:
# examine some of these names URLs
for name in short_names.drop('a').index:
    print(name, enhanced_archive[enhanced_archive['name'] == name].expanded_urls.iloc[0])

Bo https://twitter.com/dog_rates/status/819004803107983360/photo/1,https://twitter.com/dog_rates/status/819004803107983360/photo/1,https://twitter.com/dog_rates/status/819004803107983360/photo/1,https://twitter.com/dog_rates/status/819004803107983360/photo/1,https://twitter.com/dog_rates/status/819004803107983360/photo/1,https://twitter.com/dog_rates/status/819004803107983360/photo/1,https://twitter.com/dog_rates/status/819004803107983360/photo/1,https://twitter.com/dog_rates/status/819004803107983360/photo/1
an https://twitter.com/dog_rates/status/703041949650034688/photo/1,https://twitter.com/dog_rates/status/703041949650034688/photo/1
O https://twitter.com/dog_rates/status/776201521193218049/photo/1
Mo https://twitter.com/dog_rates/status/825876512159186944/photo/1
by https://twitter.com/dog_rates/status/680085611152338944/photo/1,https://twitter.com/dog_rates/status/680085611152338944/photo/1,https://twitter.com/dog_rates/status/680085611152338944/photo/1
JD https://twitter.com/dog_rates/status/671542985629241344/photo/1
Al https://twitter.com/dog_rates/status/770414278348247044/photo/1
Jo https://twitter.com/dog_rates/status/668496999348633600/photo/1
Ed https://twitter.com/dog_rates/status/672834301050937345/photo/1
my https://twitter.com/dog_rates/status/765395769549590528/photo/1

> Well, some of these names (capital ones) are correct, they are just short names, but some of them need to be fixed as an example of **manually fixing quality issues** (like `JO` need to be `Jo. Jo` and `O` need to be `O'Malley`).
> With the other names, they are fetched mistakenly and need to be dropped (like `a`, `an`, `by`, etc.). 
> 
> Let's [document](#id_3_2_4) this and see if the names that have `a` values are there in the tweet text.

In [18]:
pd.set_option('display.max_colwidth', None) # Wide the columns to see the full values text

# Getting names that have values of 'a' and the text variable have 'named' string in it.
wrong_fetched_names = enhanced_archive[(enhanced_archive['name'] == 'a') & 
                                       (enhanced_archive['text'].str.contains("named"))][['text', 'name']]
wrong_fetched_names

,text,name
1853,This is a Sizzlin Menorah spaniel from Brooklyn named Wylie. Lovable eyes. Chiller as hell. 10/10 and I'm out.. poof https://t.co/7E0AiJXPmI,a
1955,This is a Lofted Aphrodisiac Terrier named Kip. Big fan of bed n breakfasts. Fits perfectly. 10/10 would pet firmly https://t.co/gKlLpNzIl3,a
2034,This is a Tuscaloosa Alcatraz named Jacob (Yacōb). Loves to sit in swing. Stellar tongue. 11/10 look at his feet https://t.co/2IslQ8ZSc7,a
2066,This is a Helvetica Listerine named Rufus. This time Rufus will be ready for the UPS guy. He'll never expect it 9/10 https://t.co/34OhVhMkVr,a
2116,This is a Deciduous Trimester mix named Spork. Only 1 ear works. No seat belt. Incredibly reckless. 9/10 still cute https://t.co/CtuJoLHiDo,a
2125,This is a Rich Mahogany Seltzer named Cherokee. Just got destroyed by a snowball. Isn't very happy about it. 9/10 https://t.co/98ZBi6o4dj,a
2128,This is a Speckled Cauliflower Yosemite named Hemry. He's terrified of intruder dog. Not one bit comfortable. 9/10 https://t.co/yV3Qgjh8iN,a
2146,This is a spotted Lipitor Rumpelstiltskin named Alphred. He can't wait for the Turkey. 10/10 would pet really well https://t.co/6GUGO7azNX,a
2161,This is a Coriander Baton Rouge named Alfredo. Loves to cuddle with smaller well-dressed dog. 10/10 would hug lots https://t.co/eCRdwouKCl,a
2191,This is a Slovakian Helter Skelter Feta named Leroi. Likes to skip on roofs. Good traction. Much balance. 10/10 wow! https://t.co/Dmy2mY2Qj5,a
2218,This is a Birmingham Quagmire named Chuk. Loves to relax and watch the game while sippin on that iced mocha. 10/10 https://t.co/HvNg9JWxFt,a
2235,This is a Trans Siberian Kellogg named Alfonso. Huge ass eyeballs. Actually Dobby from Harry Potter. 7/10 https://t.co/XpseHBlAAb,a
2249,This is a Shotokon Macadamia mix named Cheryl. Sophisticated af. Looks like a disappointed librarian. Shh (lol) 9/10 https://t.co/J4GnJ5Swba,a
2255,This is a rare Hungarian Pinot named Jessiga. She is either mid-stroke or got stuck in the washing machine. 8/10 https://t.co/ZU0i0KJyqD,a
2264,This is a southwest Coriander named Klint. Hat looks expensive. Still on house arrest :(\n9/10 https://t.co/IQTOMqDUIe,a
2273,This is a northern Wahoo named Kohl. He runs this town. Chases tumbleweeds. Draws gun wicked fast. 11/10 legendary https://t.co/J4vn2rOYFk,a
2304,This is a curly Ticonderoga named Pepe. No feet. Loves to jet ski. 11/10 would hug until forever https://t.co/cyDfaK8NBc,a
2311,This is a purebred Bacardi named Octaviath. Can shoot spaghetti out of mouth. 10/10 https://t.co/uEvsGLOFHa,a
2314,This is a golden Buckminsterfullerene named Johm. Drives trucks. Lumberjack (?). Enjoys wall. 8/10 would hug softly https://t.co/uQbZJM2DQB,a

> Apparently there are some name that has wrongly fetched need to be corrected. Let's [document](#id_3_2_4) this issue, and see if there are any incorect names.

In [19]:
# Getting unique names
enhanced__unique_names = enhanced_archive.name.unique()
enhanced__unique_names

array(['Phineas', 'Tilly', 'Archie', 'Darla', 'Franklin', 'None', 'Jax',
       'Zoey', 'Cassie', 'Koda', 'Bruno', 'Ted', 'Stuart', 'Oliver',
       'Jim', 'Zeke', 'Ralphus', 'Canela', 'Gerald', 'Jeffrey', 'such',
       'Maya', 'Mingus', 'Derek', 'Roscoe', 'Waffles', 'Jimbo', 'Maisey',
       'Lilly', 'Earl', 'Lola', 'Kevin', 'Yogi', 'Noah', 'Bella',
       'Grizzwald', 'Rusty', 'Gus', 'Stanley', 'Alfy', 'Koko', 'Rey',
       'Gary', 'a', 'Elliot', 'Louis', 'Jesse', 'Romeo', 'Bailey',
       'Duddles', 'Jack', 'Emmy', 'Steven', 'Beau', 'Snoopy', 'Shadow',
       'Terrance', 'Aja', 'Penny', 'Dante', 'Nelly', 'Ginger', 'Benedict',
       'Venti', 'Goose', 'Nugget', 'Cash', 'Coco', 'Jed', 'Sebastian',
       'Walter', 'Sierra', 'Monkey', 'Harry', 'Kody', 'Lassie', 'Rover',
       'Napolean', 'Dawn', 'Boomer', 'Cody', 'Rumble', 'Clifford',
       'quite', 'Dewey', 'Scout', 'Gizmo', 'Cooper', 'Harold', 'Shikha',
       'Jamesy', 'Lili', 'Sammy', 'Meatball', 'Paisley', 'Albus',
       'Neptune', 'Quinn', 'Belle', 'Zooey', 'Dave', 'Jersey', 'Hobbes',
       'Burt', 'Lorenzo', 'Carl', 'Jordy', 'Milky', 'Trooper', 'Winston',
       'Sophie', 'Wyatt', 'Rosie', 'Thor', 'Oscar', 'Luna', 'Callie',
       'Cermet', 'George', 'Marlee', 'Arya', 'Einstein', 'Alice',
       'Rumpole', 'Benny', 'Aspen', 'Jarod', 'Wiggles', 'General',
       'Sailor', 'Astrid', 'Iggy', 'Snoop', 'Kyle', 'Leo', 'Riley',
       'Gidget', 'Noosh', 'Odin', 'Jerry', 'Charlie', 'Georgie', 'Rontu',
       'Cannon', 'Furzey', 'Daisy', 'Tuck', 'Barney', 'Vixen', 'Jarvis',
       'Mimosa', 'Pickles', 'Bungalo', 'Brady', 'Margo', 'Sadie', 'Hank',
       'Tycho', 'Stephan', 'Indie', 'Winnie', 'Bentley', 'Ken', 'Max',
       'Maddie', 'Pipsy', 'Monty', 'Sojourner', 'Odie', 'Arlo', 'Sunny',
       'Vincent', 'Lucy', 'Clark', 'Mookie', 'Meera', 'Buddy', 'Ava',
       'Rory', 'Eli', 'Ash', 'Tucker', 'Tobi', 'Chester', 'Wilson',
       'Sunshine', 'Lipton', 'Gabby', 'Bronte', 'Poppy', 'Rhino',
       'Willow', 'not', 'Orion', 'Eevee', 'Smiley', 'Logan', 'Moreton',
       'Klein', 'Miguel', 'Emanuel', 'Kuyu', 'Dutch', 'Pete', 'Scooter',
       'Reggie', 'Kyro', 'Samson', 'Loki', 'Mia', 'Malcolm', 'Dexter',
       'Alfie', 'Fiona', 'one', 'Mutt', 'Bear', 'Doobert', 'Beebop',
       'Alexander', 'Sailer', 'Brutus', 'Kona', 'Boots', 'Ralphie',
       'Phil', 'Cupid', 'Pawnd', 'Pilot', 'Ike', 'Mo', 'Toby', 'Sweet',
       'Pablo', 'Nala', 'Balto', 'Crawford', 'Gabe', 'Mattie', 'Jimison',
       'Hercules', 'Duchess', 'Harlso', 'Sampson', 'Sundance', 'Luca',
       'Flash', 'Finn', 'Peaches', 'Howie', 'Jazzy', 'Anna', 'Bo',
       'Seamus', 'Wafer', 'Chelsea', 'Tom', 'Moose', 'Florence', 'Autumn',
       'Dido', 'Eugene', 'Herschel', 'Strudel', 'Tebow', 'Chloe', 'Betty',
       'Timber', 'Binky', 'Dudley', 'Comet', 'Larry', 'Levi', 'Akumi',
       'Titan', 'Olivia', 'Alf', 'Oshie', 'Bruce', 'Chubbs', 'Sky',
       'Atlas', 'Eleanor', 'Layla', 'Rocky', 'Baron', 'Tyr', 'Bauer',
       'Swagger', 'Brandi', 'Mary', 'Moe', 'Halo', 'Augie', 'Craig',
       'Sam', 'Hunter', 'Pavlov', 'Maximus', 'Wallace', 'Ito', 'Milo',
       'Ollie', 'Cali', 'Lennon', 'incredibly', 'Major', 'Duke',
       'Reginald', 'Sansa', 'Shooter', 'Django', 'Diogi', 'Sonny',
       'Philbert', 'Marley', 'Severus', 'Ronnie', 'Anakin', 'Bones',
       'Mauve', 'Chef', 'Doc', 'Sobe', 'Longfellow', 'Mister', 'Iroh',
       'Baloo', 'Stubert', 'Paull', 'Timison', 'Davey', 'Pancake',
       'Tyrone', 'Snicku', 'Ruby', 'Brody', 'Rizzy', 'Mack', 'Butter',
       'Nimbus', 'Laika', 'Dobby', 'Juno', 'Maude', 'Lily', 'Newt',
       'Benji', 'Nida', 'Robin', 'Monster', 'BeBe', 'Remus', 'Mabel',
       'Misty', 'Happy', 'Mosby', 'Maggie', 'Leela', 'Ralphy', 'Brownie',
       'Meyer', 'Stella', 'mad', 'Frank', 'Tonks', 'Lincoln', 'Oakley',
       'Dale', 'Rizzo', 'Arnie', 'Pinot', 'Dallas', 'Hero', 'Frankie',
       'Stormy', 'Mairi', 'Loomis', 'Godi', 'Kenny', 'Deacon', 'Timmy',
       'Harper', 'Chipson', 'Combo', 'Dash', 'Bell', 'Hurley', 'Jay',
       'Mya', 'Strider', 'an', 'Wesley', 'Solomon', 'Huck', 'very', 'O',
       'Blue', 'Finley', 'Sprinkles', 'Heinrich', 'Shakespeare', 'Fizz',
       'Chip', 'Grey', 'Roosevelt', 'Gromit', 'Willem', 'Dakota', 'Dixie',
       'Al', 'Jackson', 'just', 'Carbon', 'DonDon', 'Kirby', 'Lou',
       'Nollie', 'Chevy', 'Tito', 'Louie', 'Rupert', 'Rufus', 'Brudge',
       'Shadoe', 'Colby', 'Angel', 'Brat', 'Tove', 'my', 'Aubie', 'Kota',
       'Eve', 'Glenn', 'Shelby', 'Sephie', 'Bonaparte', 'Albert',
       'Wishes', 'Rose', 'Theo', 'Rocco', 'Fido', 'Emma', 'Spencer',
       'Lilli', 'Boston', 'Brandonald', 'Corey', 'Leonard', 'Chompsky',
       'Beckham', 'Devón', 'Gert', 'Watson', 'Rubio', 'Keith', 'Dex',
       'Carly', 'Ace', 'Tayzie', 'Grizzie', 'Fred', 'Gilbert', 'Zoe',
       'Stewie', 'Calvin', 'Lilah', 'Spanky', 'Jameson', 'Piper',
       'Atticus', 'Blu', 'Dietrich', 'Divine', 'Tripp', 'his', 'Cora',
       'Huxley', 'Keurig', 'Bookstore', 'Linus', 'Abby', 'Shaggy',
       'Shiloh', 'Gustav', 'Arlen', 'Percy', 'Lenox', 'Sugar', 'Harvey',
       'Blanket', 'actually', 'Geno', 'Stark', 'Beya', 'Kilo', 'Kayla',
       'Maxaroni', 'Doug', 'Edmund', 'Aqua', 'Theodore', 'Chase',
       'getting', 'Rorie', 'Simba', 'Charles', 'Bayley', 'Axel',
       'Storkson', 'Remy', 'Chadrick', 'Kellogg', 'Buckley', 'Livvie',
       'Terry', 'Hermione', 'Ralpher', 'Aldrick', 'this', 'unacceptable',
       'Rooney', 'Crystal', 'Ziva', 'Stefan', 'Pupcasso', 'Puff',
       'Flurpson', 'Coleman', 'Enchilada', 'Raymond', 'all', 'Rueben',
       'Cilantro', 'Karll', 'Sprout', 'Blitz', 'Bloop', 'Lillie',
       'Ashleigh', 'Kreggory', 'Sarge', 'Luther', 'Ivar', 'Jangle',
       'Schnitzel', 'Panda', 'Berkeley', 'Ralphé', 'Charleson', 'Clyde',
       'Harnold', 'Sid', 'Pippa', 'Otis', 'Carper', 'Bowie',
       'Alexanderson', 'Suki', 'Barclay', 'Skittle', 'Ebby', 'Flávio',
       'Smokey', 'Link', 'Jennifur', 'Ozzy', 'Bluebert', 'Stephanus',
       'Bubbles', 'old', 'Zeus', 'Bertson', 'Nico', 'Michelangelope',
       'Siba', 'Calbert', 'Curtis', 'Travis', 'Thumas', 'Kanu', 'Lance',
       'Opie', 'Kane', 'Olive', 'Chuckles', 'Staniel', 'Sora', 'Beemo',
       'Gunner', 'infuriating', 'Lacy', 'Tater', 'Olaf', 'Cecil', 'Vince',
       'Karma', 'Billy', 'Walker', 'Rodney', 'Klevin', 'Malikai',
       'Bobble', 'River', 'Jebberson', 'Remington', 'Farfle', 'Jiminus',
       'Clarkus', 'Finnegus', 'Cupcake', 'Kathmandu', 'Ellie', 'Katie',
       'Kara', 'Adele', 'Zara', 'Ambrose', 'Jimothy', 'Bode', 'Terrenth',
       'Reese', 'Chesterson', 'Lucia', 'Bisquick', 'Ralphson', 'Socks',
       'Rambo', 'Rudy', 'Fiji', 'Rilo', 'Bilbo', 'Coopson', 'Yoda',
       'Millie', 'Chet', 'Crouton', 'Daniel', 'Kaia', 'Murphy', 'Dotsy',
       'Eazy', 'Coops', 'Fillup', 'Miley', 'Charl', 'Reagan', 'Yukon',
       'CeCe', 'Cuddles', 'Claude', 'Jessiga', 'Carter', 'Ole', 'Pherb',
       'Blipson', 'Reptar', 'Trevith', 'Berb', 'Bob', 'Colin', 'Brian',
       'Oliviér', 'Grady', 'Kobe', 'Freddery', 'Bodie', 'Dunkin', 'Wally',
       'Tupawc', 'Amber', 'Edgar', 'Teddy', 'Kingsley', 'Brockly',
       'Richie', 'Molly', 'Vinscent', 'Cedrick', 'Hazel', 'Lolo', 'Eriq',
       'Phred', 'the', 'Oddie', 'Maxwell', 'Geoff', 'Covach', 'Durg',
       'Fynn', 'Ricky', 'Herald', 'Lucky', 'Ferg', 'Trip', 'Clarence',
       'Hamrick', 'Brad', 'Pubert', 'Frönq', 'Derby', 'Lizzie', 'Ember',
       'Blakely', 'Opal', 'Marq', 'Kramer', 'Barry', 'Gordon', 'Baxter',
       'Mona', 'Horace', 'Crimson', 'Birf', 'Hammond', 'Lorelei', 'Marty',
       'Brooks', 'Petrick', 'Hubertson', 'Gerbald', 'Oreo', 'Bruiser',
       'Perry', 'Bobby', 'Jeph', 'Obi', 'Tino', 'Kulet', 'Sweets', 'Lupe',
       'Tiger', 'Jiminy', 'Griffin', 'Banjo', 'Brandy', 'Lulu', 'Darrel',
       'Taco', 'Joey', 'Patrick', 'Kreg', 'Todo', 'Tess', 'Ulysses',
       'Toffee', 'Apollo', 'Asher', 'Glacier', 'Chuck', 'Champ', 'Ozzie',
       'Griswold', 'Cheesy', 'Moofasa', 'Hector', 'Goliath', 'Kawhi',
       'by', 'Emmie', 'Penelope', 'Willie', 'Rinna', 'Mike', 'William',
       'Dwight', 'Evy', 'officially', 'Rascal', 'Linda', 'Tug', 'Tango',
       'Grizz', 'Jerome', 'Crumpet', 'Jessifer', 'Izzy', 'Ralph', 'Sandy',
       'Humphrey', 'Tassy', 'Juckson', 'Chuq', 'Tyrus', 'Karl',
       'Godzilla', 'Vinnie', 'Kenneth', 'Herm', 'Bert', 'Striker',
       'Donny', 'Pepper', 'Bernie', 'Buddah', 'Lenny', 'Arnold', 'Zuzu',
       'Mollie', 'Laela', 'Tedders', 'Superpup', 'Rufio', 'Jeb', 'Rodman',
       'Jonah', 'Chesney', 'life', 'Henry', 'Bobbay', 'Mitch', 'Kaiya',
       'Acro', 'Aiden', 'Obie', 'Dot', 'Shnuggles', 'Kendall', 'Jeffri',
       'Steve', 'Mac', 'Fletcher', 'Kenzie', 'Pumpkin', 'Schnozz',
       'Gustaf', 'Cheryl', 'Ed', 'Leonidas', 'Norman', 'Caryl', 'Scott',
       'Taz', 'Darby', 'Jackie', 'light', 'Jazz', 'Franq', 'Pippin',
       'Rolf', 'Snickers', 'Ridley', 'Cal', 'Bradley', 'Bubba', 'Tuco',
       'Patch', 'Mojo', 'Batdog', 'Dylan', 'space', 'Mark', 'JD',
       'Alejandro', 'Scruffers', 'Pip', 'Julius', 'Tanner', 'Sparky',
       'Anthony', 'Holly', 'Jett', 'Amy', 'Sage', 'Andy', 'Mason',
       'Trigger', 'Antony', 'Creg', 'Traviss', 'Gin', 'Jeffrie', 'Danny',
       'Ester', 'Pluto', 'Bloo', 'Edd', 'Willy', 'Herb', 'Damon',
       'Peanut', 'Nigel', 'Butters', 'Sandra', 'Fabio', 'Randall', 'Liam',
       'Tommy', 'Ben', 'Raphael', 'Julio', 'Andru', 'Kloey', 'Shawwn',
       'Skye', 'Kollin', 'Ronduh', 'Billl', 'Saydee', 'Dug', 'Tessa',
       'Sully', 'Kirk', 'Ralf', 'Clarq', 'Jaspers', 'Samsom', 'Harrison',
       'Chaz', 'Jeremy', 'Jaycob', 'Lambeau', 'Ruffles', 'Amélie', 'Bobb',
       'Banditt', 'Kevon', 'Winifred', 'Hanz', 'Churlie', 'Zeek',
       'Timofy', 'Maks', 'Jomathan', 'Kallie', 'Marvin', 'Spark',
       'Gòrdón', 'Jo', 'DayZ', 'Jareld', 'Torque', 'Ron', 'Skittles',
       'Cleopatricia', 'Erik', 'Stu', 'Tedrick', 'Filup', 'Kial',
       'Naphaniel', 'Dook', 'Hall', 'Philippe', 'Biden', 'Fwed',
       'Genevieve', 'Joshwa', 'Bradlay', 'Clybe', 'Keet', 'Carll',
       'Jockson', 'Josep', 'Lugan', 'Christoper'], dtype=object)

> There are some other incorrect names, e.g., `this`, `his`, `old`, etc. And they all are `lowercase` not uppercase, so, let's check lowercase names.

In [20]:
# Getting only lowe case names 
wrong_names = enhanced_archive[enhanced_archive.name.str.islower()]
wrong_names = wrong_names['name'].unique()
wrong_names

array(['such', 'a', 'quite', 'not', 'one', 'incredibly', 'mad', 'an',
       'very', 'just', 'my', 'his', 'actually', 'getting', 'this',
       'unacceptable', 'all', 'old', 'infuriating', 'the', 'by',
       'officially', 'life', 'light', 'space'], dtype=object)

> Let's [document](#id_3_2_4) this quality issue too.

#### Checking multiple values in `stage` variables.
[Back](#id_3_2_3_2_1)

In [21]:
# Let's check if there any dog with multiple values in stages variables
# tweet_id var + stage vars
repeated_stage_cols = ['tweet_id', 'doggo', 'floofer', 'pupper', 'puppo']

# Coy enhanced_archive_clean for only the previous cols
repeated_stage = enhanced_archive.copy()[repeated_stage_cols]

# change stage col values to 0 if None and 1 if else
for col in repeated_stage_cols[1:]:
    repeated_stage[col] = repeated_stage[col].apply(lambda x: 0 if x == 'None' else(1))

# sum stage cols values to see if there any values greater than 1
repeated_stage['repeated'] = repeated_stage[repeated_stage_cols[1:]].apply(np.sum, axis=1)

# check value counts
repeated_stage.repeated.value_counts()

0    1976
1     366
2      14
Name: repeated, dtype: int64

> Yep, it looks like we have 14 dogs that multiple values for stage. Le'ts check some of these.

In [22]:
repeated_stage.query('repeated > 1')

                tweet_id  doggo  floofer  pupper  puppo  repeated
191   855851453814013952      1        0       0      1         2
200   854010172552949760      1        1       0      0         2
460   817777686764523521      1        0       1      0         2
531   808106460588765185      1        0       1      0         2
565   802265048156610565      1        0       1      0         2
575   801115127852503040      1        0       1      0         2
705   785639753186217984      1        0       1      0         2
733   781308096455073793      1        0       1      0         2
778   775898661951791106      1        0       1      0         2
822   770093767776997377      1        0       1      0         2
889   759793422261743616      1        0       1      0         2
956   751583847268179968      1        0       1      0         2
1063  741067306818797568      1        0       1      0         2
1113  733109485275860992      1        0       1      0         2

In [23]:
print(enhanced_archive.query('tweet_id == "855851453814013952"').expanded_urls.iloc[0],
      enhanced_archive.query('tweet_id == "817777686764523521"').expanded_urls.iloc[0],
      enhanced_archive.query('tweet_id == "733109485275860992"').expanded_urls.iloc[0], sep='\n')

https://twitter.com/dog_rates/status/855851453814013952/photo/1
https://twitter.com/dog_rates/status/817777686764523521/video/1
https://twitter.com/dog_rates/status/733109485275860992/photo/1

> This's another `human error` during **Gathering** Enhanced Archive data, because sometime the same tweet could have multiple values that considered stage values, e.g. `puppo` and `doggo` in the first tweet. I'm going to use stage as part of my future analysis, so it would be better dropping these records. Let's [document this](#id_3_2_4).

#### Checking missing values in `enhanced_archive` table.
[Back](#id_3_2_3_2_1)

In [24]:
# Checking missing values
enhanced_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

> The missing values are due to the variables nature, i.e. if the tweet was in reply to status or user, and if it got a retweet. <br>
Except for `expanded_urls` variable missing values, It could be because of `human errros`. Let's check those null values using `isnull()` method and `boolean indexing`.

#### Checking missing values in `expanded_urls` variable.
[Back](#id_3_2_3_2_1)

In [25]:
enhanced_archive[enhanced_archive['expanded_urls'].isnull()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@NonWhiteHat @MayhewMayhem omg hello tanner you are a scary good boy 12/10 would pet with extreme caution,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
55,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@roushfenway These are good dogs but 17/10 is an emotional impulse rating. More like 13/10s,NaN,NaN,NaN,NaN,17,10,None,None,None,None,None
64,879674319642796034,8.795538e+17,3.105441e+09,2017-06-27 12:14:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@RealKentMurphy 14/10 confirmed,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
113,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is reserved for dogs,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
148,863427515083354112,8.634256e+17,7.759620e+07,2017-05-13 16:15:35 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","@Jack_Septic_Eye I'd need a few more pics to polish a full analysis, but based on the good boy content above I'm leaning towards 12/10",NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
179,857214891891077121,8.571567e+17,1.806710e+08,2017-04-26 12:48:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@Marc_IRL pixelated af 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
185,856330835276025856,NaN,NaN,2017-04-24 02:15:55 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @Jenna_Marbles: @dog_rates Thanks for rating my cermets 14/10 wow I'm so proud I watered them so much,8.563302e+17,66699013.0,2017-04-24 02:13:14 +0000,NaN,14,10,None,None,None,None,None
186,856288084350160898,8.562860e+17,2.792810e+08,2017-04-23 23:26:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@xianmcguire @Jenna_Marbles Kardashians wouldn't be famous if as a society we didn't place enormous value on what they do. The dogs are very deserving of their 14/10,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
188,855862651834028034,8.558616e+17,1.943518e+08,2017-04-22 19:15:32 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@dhmontgomery We also gave snoop dogg a 420/10 but I think that predated your research,NaN,NaN,NaN,NaN,420,10,None,None,None,None,None
189,855860136149123072,8.558585e+17,1.361572e+07,2017-04-22 19:05:32 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","@s8n You tried very hard to portray this good boy as not so good, but you have ultimately failed. His goodness shines through. 666/10",NaN,NaN,NaN,NaN,666,10,None,None,None,None,None
218,850333567704068097,8.503288e+17,2.195506e+07,2017-04-07 13:04:55 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@markhoppus MARK THAT DOG HAS SEEN AND EXPERIENCED MANY THINGS. PROBABLY LOST OTHER EAR DOING SOMETHING HEROIC. 13/10 HUG THE DOG HOPPUS,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
228,848213670039564288,8.482121e+17,4.196984e+09,2017-04-01 16:41:12 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Jerry just apuppologized to me. He said there was no ill-intent to the slippage. I overreacted I admit. Pupgraded to an 11/10 would pet,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
234,847617282490613760,8.476062e+17,4.196984e+09,2017-03-31 01:11:22 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",.@breaannanicolee PUPDATE: Cannon has a heart on his nose. Pupgraded to a 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
274,840698636975636481,8.406983e+17,8.405479e+17,2017-03-11 22:59:09 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@0_kelvin_0 &gt;10/10 is reserved for puppos sorry Kevin,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
290,838150277551247360,8.381455e+17,2.195506e+07,2017-03-04 22:12:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@markhoppus 182/10,NaN,NaN,NaN,NaN,182,10,None,None,None,None,None
291,838085839343206401,8.380855e+17,2.894131e+09,2017-03-04 17:56:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@bragg6of8 @Andy_Pace_ we are still looking for the first 15/10,NaN,NaN,NaN,NaN,15,10,None,None,None,None,None
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho",NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
346,831926988323639298,8.319030e+17,2.068372e+07,2017-02-15 18:03:45 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@UNC can confirm 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
375,828361771580813312,NaN,NaN,2017-02-05 21:56:51 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>",Beebop and Doobert should start a band 12/10 would listen,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
387,826598799820865537,8.265984e+17,4.196984e+09,2017-02-01 01:11:25 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","I was going to do 007/10, but the joke wasn't worth the &lt;10 rating",NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
409,823333489516937216,8.233264e+17,1.582854e+09,2017-01-23 00:56:15 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@HistoryInPics 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
427,821153421864615936,8.211526e+17,1.132119e+08,2017-01-17 00:33:26 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@imgur for a polar bear tho I'd say 13/10 is appropriate,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
498,813130366689148928,8.131273e+17,4.196984e+09,2016-12-25 21:12:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",I've been informed by multiple sources that this is actually a dog elf who's tired from helping Santa all night. Pupgraded to 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
513,811647686436880384,8.116272e+17,4.196984e+09,2016-12-21 19:01:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",PUPDATE: I've been informed that Augie was actually bringing his family these flowers when he tripped. Very good boy. Pupgraded to 11/10,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
570,801854953262350336,8.018543e+17,1.185634e+07,2016-11-24 18:28:13 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",.@NBCSports OMG THE TINY HAT I'M GOING TO HAVE TO SAY 11/10 NBC,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
576,800859414831898624,8.008580e+17,2.918590e+08,2016-11-22 00:32:18 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@SkyWilliams doggo simply protecting you from evil that which you cannot see. 11/10 would give extra pets,NaN,NaN,NaN,NaN,11,10,None,doggo,None,None,None
611,797165961484890113,7.971238e+17,2.916630e+07,2016-11-11 19:55:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@JODYHiGHROLLER it may be an 11/10 but what do I know 😉,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
701,786051337297522688,7.727430e+17,7.305050e+17,2016-10-12 03:50:17 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",13/10 for breakdancing puppo @shibbnbot,NaN,NaN,NaN,NaN,13,10,None,None,None,None,puppo
707,785515384317313025,NaN,NaN,2016-10-10 16:20:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Today, 10/10, should be National Dog Rates Day",NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
843,766714921925144576,7.667118e+17,4.196984e+09,2016-08-19 19:14:16 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",His name is Charley and he already has a new set of wheels thanks to donations. I heard his top speed was also increased. 13/10 for Charley,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
857,763956972077010945,7.638652e+17,1.584641e+07,2016-08-12 04:35:10 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@TheEllenShow I'm not sure if you know this but that doggo right there is a 12/10,NaN,NaN,NaN,NaN,12,10,None,doggo,None,None,None
967,750381685133418496,7.501805e+17,4.717297e+09,2016-07-05 17:31:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",13/10 such a good doggo\n@spaghemily,NaN,NaN,NaN,NaN,13,10,None,doggo,None,None,None
1005,747651430853525504,7.476487e+17,4.196984e+09,2016-06-28 04:42:46 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Other pupper asked not to have his identity shared. Probably just embarrassed about the headbutt. Also 12/10 it'll be ok mystery pup,NaN,NaN,NaN,NaN,12,10,None,None,None,pupper,None
1080,738891149612572673,7.384119e+17,3.589728e+08,2016-06-04 00:32:32 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@mount_alex3 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1295,707983188426153984,7.079801e+17,2.319108e+09,2016-03-10 17:35:20 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@serial @MrRoles OH MY GOD I listened to all of season 1 during a single road trip. I love you guys! I can confirm Bernie's 12/10 rating :),NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1345,704491224099647488,7.044857e+17,2.878549e+07,2016-03-01 02:19:31 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",13/10 hero af\n@ABC,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1445,696518437233913856,NaN,NaN,2016-02-08 02:18:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Oh my god 10/10 for every little hot dog pupper,NaN,NaN,NaN,NaN,10,10,None,None,None,pupper,None
1446,696490539101908992,6.964887e+17,4.196984e+09,2016-02-08 00:27:39 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",After reading the comments I may have overestimated this pup. Downgraded to a 1/10. Please forgive me,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
1474,693644216740769793,6.936422e+17,4.196984e+09,2016-01-31 03:57:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",BREAKING PUPDATE: I've just been notified that (if in U.S.) this dog appears to be operating the vehicle. Upgraded to 10/10. Skilled af,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
1479,693582294167244802,6.935722e+17,1.198989e+09,2016-01-30 23:51:19 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Personally I'd give him an 11/10. Not sure why you think you're qualified to rate such a stellar pup.\n@CommonWhiteGirI,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1497,692423280028966913,6.924173e+17,4.196984e+09,2016-01-27 19:05:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",PUPDATE: just noticed this dog has some extra legs. Very advanced. Revolutionary af. Upgraded to a 9/10,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1523,690607260360429569,6.903413e+17,4.670367e+08,2016-01-22 18:49:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",12/10 @LightningHoltt,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Yes I do realize a rating of 4/20 would've been fitting. However, it would be unjust to give these cooperative pups that low of a rating",NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1605,685681090388975616,6.855479e+17,4.196984e+09,2016-01-09 04:34:45 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Jack deserves another round of applause. If you missed this earlier today I strongly suggest reading it. Wonderful first 14/10 🐶❤️,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
1618,684969860808454144,6.849598e+17,4.196984e+09,2016-01-07 05:28:35 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","For those who claim this is a goat, u are wrong. It is not the Greatest Of All Time. The rating of 5/10 should have made that clear. Thank u",NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1689,681340665377193984,6.813394e+17,4.196984e+09,2015-12-28 05:07:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",I've been told there's a slight possibility he's checking his mirror. We'll bump to 9.5/10. Still a menace,NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1774,678023323247357953,6.780211e+17,4.196984e+09,2015-12-19 01:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",After getting lost in Reese's eyes for several minutes we're going to upgrade him to a 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1819,676590572941893632,6.765883e+17,4.196984e+09,2015-12-15 02:32:17 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",After some outrage from the crowd. Bubbles is being upgraded to a 7/10. That's as high as I'm going. Thank you,NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
1844,675849018447167488,6.758457e+17,4.196984e+09,2015-12-13 01:25:37 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This dog is being demoted to a 9/10 for not wearing a helmet while riding. Gotta stay safe out there. Thank you,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1895,674742531037511680,6.747400e+17,4.196984e+09,2015-12-10 00:08:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Some clarification is required. The dog is singing Cher and that is more than worthy of an 11/10. Thank you,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1905,674606911342424069,6.744689e+17,4.196984e+09,2015-12-09 15:09:55 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",The 13/10 also takes into account this impeccable yard. Louis is great but the future dad in me can't ignore that luscious green grass,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1914,674330906434379776,6.658147e+17,1.637468e+07,2015-12-08 20:53:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",13/10\n@ABC7,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1940,673716320723169284,6.737159e+17,4.196984e+09,2015-12-07 04:11:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",The millennials have spoken and we've decided to immediately demote to a 1/10. Thank you,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2038,671550332464455680,6.715449e+17,4.196984e+09,2015-12-01 04:44:10 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",After 22 minutes of careful deliberation this dog is being demoted to a 1/10. The longer you look at him the more terrifying he becomes,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2149,669684865554620416,6.693544e+17,4.196984e+09,2015-11-26 01:11:28 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",After countless hours of research and hundreds of formula alterations we have concluded that Dug should be bumped to an 11/10,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
2189,668967877119254528,6.689207e+17,2.143566e+07,2015-11-24 01:42:25 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",12/10 good shit Bubka\n@wane15,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
2298,667070482143944705,6.670655e+17,4.196984e+09,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",After much debate this dog is being upgraded to 10/10. I repeat 10/10,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None

> We can examine one of these tweets original **JSON** text using tweet_id and `tweets_json_txt` we created early. Then, render it using the predifined function `RenderJSON`.

In [26]:
# Get an id for these missing expanded_urls tweets
missing_id = enhanced_archive[enhanced_archive['expanded_urls'].isnull()]['tweet_id'].iloc[0]

# Let's get one of these tweets JOSN text
for json_object in tweets_json_txt:
    if json_object['id'] == missing_id:
        mssing_json = json_object
        print('Found Successfully')

# Render the tweet JSON text
RenderJSON(mssing_json)

Found Successfully

> It's looks like the `expanded_urls` is missing too in JSON text, thus, there's nothing we can do here.

#### Checking  table `enhanced_archive` datatypes.
[Back](#id_3_2_3_2_1)

In [27]:
enhanced_archive.dtypes

tweet_id                        int64
in_reply_to_status_id         float64
in_reply_to_user_id           float64
timestamp                      object
source                         object
text                           object
retweeted_status_id           float64
retweeted_status_user_id      float64
retweeted_status_timestamp     object
expanded_urls                  object
rating_numerator                int64
rating_denominator              int64
name                           object
doggo                          object
floofer                        object
pupper                         object
puppo                          object
dtype: object

> **Note: data types for these variables:**<br>
>    - tweet_id
>    - in_reply_to_status_id
>    - in_reply_to_user_id
>    - retweeted_status_id
>    - retweeted_status_user_id
>    - retweeted_status_timestamp
>
>[Advance to Assessment Docummentions](#id_3_2_4)

<a id="id_3_2_3_2_2"></a>
#### [Programmatic Detecte Issues in: Image Predictions File](#id_3_2_3_2_2)
 
[Back to Programmatic Assessment](#id_3_2_3_2)<br>
[Advance to Assessment Docummentions](#id_3_2_4)

#### Randomly checking the Data in `image_predictions` table
[Back](#id_3_2_3_2_2)

In [28]:
# Display random samples from image_predictions
image_predictions.sample(20)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
946,704499785726889984,https://pbs.twimg.com/media/Ccbi0UGWoAA4fwg.jpg,1,Chihuahua,0.376541,True,Siamese_cat,0.098057,False,Labrador_retriever,0.085211,True
1654,810254108431155201,https://pbs.twimg.com/media/Cz6Z0DgWIAAfdvp.jpg,1,Staffordshire_bullterrier,0.292556,True,American_Staffordshire_terrier,0.261233,True,Border_terrier,0.062375,True
966,706291001778950144,https://pbs.twimg.com/media/Cc0_2tXXEAA2iTY.jpg,1,Border_terrier,0.587101,True,bull_mastiff,0.164087,True,Staffordshire_bullterrier,0.105011,True
140,668544745690562560,https://pbs.twimg.com/media/CUcl5jeWsAA6ufS.jpg,1,bearskin,0.427870,False,bow,0.258858,False,panpipe,0.021563,False
1260,748705597323898880,https://pbs.twimg.com/ext_tw_video_thumb/748704826305970176/pu/img/QHuadM5eEygfBeOf.jpg,1,tiger_shark,0.548497,False,great_white_shark,0.130252,False,scuba_diver,0.121887,False
70,667192066997374976,https://pbs.twimg.com/media/CUJXpRBXIAAN0yz.jpg,1,Rottweiler,0.283640,True,miniature_pinscher,0.148112,True,black-and-tan_coonhound,0.095585,True
1552,793150605191548928,https://pbs.twimg.com/media/CwHWOZ7W8AAHv8S.jpg,1,Italian_greyhound,0.193869,True,bluetick,0.160380,True,standard_poodle,0.125982,True
133,668480044826800133,https://pbs.twimg.com/media/CUbrDWOWcAEyMdM.jpg,1,Arctic_fox,0.119243,False,Labrador_retriever,0.099965,True,pug,0.086717,True
1647,808733504066486276,https://pbs.twimg.com/media/Czky0v9VIAEXRkd.jpg,1,seat_belt,0.779137,False,toy_poodle,0.036927,True,golden_retriever,0.016972,True
1217,743595368194129920,https://pbs.twimg.com/media/ClHICHmXEAI_1PS.jpg,1,hippopotamus,0.505675,False,hog,0.370726,False,warthog,0.018827,False
1320,756288534030475264,https://pbs.twimg.com/media/Cn7gaHrWIAAZJMt.jpg,3,conch,0.925621,False,French_bulldog,0.032492,True,tiger_cat,0.006679,False
1606,800459316964663297,https://pbs.twimg.com/media/CxvNfrhWQAA2hKM.jpg,1,teddy,0.311928,False,ice_bear,0.184657,False,Christmas_stocking,0.173229,False
2044,886258384151887873,https://pbs.twimg.com/media/DEyfTG4UMAE4aE9.jpg,1,pug,0.943575,True,shower_cap,0.025286,False,Siamese_cat,0.002849,False
2014,879415818425184262,https://pbs.twimg.com/ext_tw_video_thumb/879415784908390401/pu/img/cX7XI1TnUsseGET5.jpg,1,English_springer,0.383404,True,Boston_bull,0.134967,True,Cardigan,0.110481,True
660,682406705142087680,https://pbs.twimg.com/media/CXhlRmRUMAIYoFO.jpg,1,wombat,0.709344,False,koala,0.169758,False,beaver,0.079433,False
1056,714606013974974464,https://pbs.twimg.com/media/CerKYG8WAAM1aE-.jpg,1,Norfolk_terrier,0.293007,True,Labrador_retriever,0.256198,True,golden_retriever,0.129643,True
36,666447344410484738,https://pbs.twimg.com/media/CT-yU5QWwAEjLX5.jpg,1,curly-coated_retriever,0.322084,True,giant_schnauzer,0.287955,True,Labrador_retriever,0.166331,True
575,678643457146150913,https://pbs.twimg.com/media/CWsGnyMVEAAM1Y1.jpg,1,Labrador_retriever,0.338757,True,flat-coated_retriever,0.304470,True,chest,0.093392,False
1199,740711788199743490,https://pbs.twimg.com/media/CkeJcNkXEAAcrks.jpg,1,toy_poodle,0.388277,True,Angora,0.180264,False,Persian_cat,0.049656,False
426,674082852460433408,https://pbs.twimg.com/media/CVrSxy7WsAAFD2F.jpg,1,Pomeranian,0.666957,True,Shetland_sheepdog,0.028019,True,ski_mask,0.020683,False

#### Checking missing values in `image_predictions` table
[Back](#id_3_2_3_2_2)

In [29]:
# Checking missing values
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

#### Checking variable `p1` values.
[Back](#id_3_2_3_2_2)

In [30]:
# Check p1 values
image_predictions.p1.value_counts()

golden_retriever      150
Labrador_retriever    100
Pembroke               89
Chihuahua              83
pug                    57
                     ...
grille                  1
dhole                   1
hare                    1
quilt                   1
hay                     1
Name: p1, Length: 378, dtype: int64

#### Checking table `image_predictions` data types.
[Back](#id_3_2_3_2_2)

In [31]:
# Check data types
image_predictions.dtypes

tweet_id      int64
jpg_url      object
img_num       int64
p1           object
p1_conf     float64
p1_dog         bool
p2           object
p2_conf     float64
p2_dog         bool
p3           object
p3_conf     float64
p3_dog         bool
dtype: object

> **Note:**<br>
>- tweet_id data type
>    
>Now let's document these data issues in [Assessment Docummentions](#id_3_2_4)

<a id="id_3_2_3_2_3"></a>
#### [Programmatic Detecte Issues in: Additional Data via the Twitter API](#id_3_2_3_2_3)

[Back to Programmatic Assessment](#id_3_2_3_2)<br>
[Advance to Assessment Docummentions](#id_3_2_4)

#### Randomly checking the Data in `retweet_favorite_counts` table.
[Back](#id_3_2_3_2_3)

In [32]:
# Display random samples from retweet_favorite_counts
retweet_favorite_counts.sample(20)

                tweet_id  retweet_count  favorite_count
563   800443802682937345           4353               0
889   757596066325864448           1046            4308
23    887343217045368832           9411           31230
849   761599872357261312           1182            4108
360   828361771580813312            173            2188
1430  695446424020918272           1776            4330
1143  721503162398597120           1787            4526
1481  691793053716221953           4141            8005
1577  686003207160610816            612            1797
1304  705970349788291072            878            3117
1015  744234799360020481          76445          154179
866   759846353224826880           1949            6699
688   785533386513321988           2010            9179
726   780192070812196864           2241            8728
671   787717603741622272           2789           10336
1168  717790033953034240           1085            2824
1156  719339463458033665           1204            4346
999   746521445350707200            971               0
2122  669753178989142016            372             759
1920  673707060090052608            371            1048

#### Checking the missing values in `retweet_favorite_counts` table.
[Back](#id_3_2_3_2_3)

In [33]:
# Checking missing values
retweet_favorite_counts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2331 non-null   int64
 1   retweet_count   2331 non-null   int64
 2   favorite_count  2331 non-null   int64
dtypes: int64(3)
memory usage: 54.8 KB

#### Statistically describe `retweet_favorite_counts` table.
[Back](#id_3_2_3_2_3)

In [34]:
# Check table describe stats
retweet_favorite_counts.describe()

           tweet_id  retweet_count  favorite_count
count  2.331000e+03    2331.000000     2331.000000
mean   7.419079e+17    2660.208494     7471.366795
std    6.823170e+16    4498.541837    11601.403978
min    6.660209e+17       1.000000        0.000000
25%    6.782670e+17     539.000000     1300.500000
50%    7.182469e+17    1244.000000     3247.000000
75%    7.986692e+17    3093.500000     9150.500000
max    8.924206e+17   76445.000000   154179.000000

#### Checking table `retweet_favorite_counts` data types.
[Back](#id_3_2_3_2_3)

In [35]:
# Check data types
retweet_favorite_counts.dtypes

tweet_id          int64
retweet_count     int64
favorite_count    int64
dtype: object

> `tweet_id` variable data type should be object but we are going to merge the table with `enhanced_archive` table anyway.
>
>[Back to Programmatic Assessment](#id_3_2_3_2)<br>
>[Advance to Assessment Docummentions](#id_3_2_4)

<a id="id_3_2_4"></a>
## [Assessment Docummentions](#id_3_2_4)

Let's seperate our docummentions by data issues types, [Quality Issues](#id_3_2_4_1) and [Tidiness Issues](#id_3_2_4_2), then group it by each dataset:

<a id="id_3_2_4_1"></a>
### [Quality Issues:](#id_3_2_4_1)
1. #### Enhanced Twitter Archive - [Cleaning Phase](#id_3_3_3_3_1)
[Visual Assess](#id_3_2_3_1_1) - [Programmatic Assess](#id_3_2_3_2_1)
    - Variables `source` and `rating_denominator` are useless in our data.
    - There are some names with values of `a`, some of them need to be dropped and the other (`wrong_fetched_names` dataframe) need to be modified from the `text` column.
    - Some of name values need to be corrected like `JO` need to be `Jo. Jo` and `O` need to be `O'Malley`.
    - Some of name values need to be dropped like `such`, `a`, `quite`, `not`, `one`, `incredibly` and `mad`, etc.
    - Values `None` in variable `name` (indices 2351 and 2355).
    - Stage variables values, string `None`.
    - The new created variable `stage` need to be categorical data type.
    - Some records in stage variables have cross duplication (1 record with multiple stage values).
    - Repeated values for the same extended_urls records.
    - data types for these variables need to be change to `Object` data type except for `retweeted_status_timestamp` and `timestamp` which have to be in datetime format:
        - tweet_id
        - in_reply_to_status_id
        - in_reply_to_user_id
        - retweeted_status_id
        - retweeted_status_user_id
        - timestamp
        - retweeted_status_timestamp
    - After merging `enhanced_archive_clean` and `retweet_favorite_counts_clean`, there are some missing values in `retweet_counts` and `favorite_counts` columns.
        
- #### Image Predictions File  - [Cleaning Phase](#id_3_3_3_3_2)
[Visual Assess](#id_3_2_3_1_2) - [Programmatic Assess](#id_3_2_3_2_2)
    - Inconsistent name values in `p1`, `p2` and `p3` variables some with character "_" and some with lowercase.
    - The new created variable after melting, `number` as the number of prediction need to be cateforical data type.
    - Variable `tweet_id` data type need to be changed from `int64` to `object`.

<a id="id_3_2_4_2"></a>
### [Tidiness Issues:](#id_3_2_4_2)
1. #### Enhanced Twitter Archive - [Visual Assess](#id_3_2_3_1_1) - [Cleaning Phase](#id_3_3_3_2_2)
    - The 4 dog "stages" variables (`doggo`, `floofer`, `pupper` and `puppo`) are unnecessary, and can be reduced to one variable named `stage`.
    
- #### Image Predictions File - [Visual Assess](#id_3_2_3_1_2) - [Cleaning Phase](#id_3_3_3_2_3)
    - Variables `p1` through `p3_dog` are unnecessary, and can be reduced to 4 variables (`prediction_num`, `prediction_value`, `prediction_conf` and `prediction_reality`).

- #### Additional Data via the Twitter API - [Visual Assess](#id_3_2_3_1_3) - [Cleaning Phase](#id_3_3_3_2_1)
    - This table is unnecessary and can be included in the [Enhanced Twitter Archive](#id_3_2_3_1_1) table.

[Back to Assessing Data](#id_3_2)<br>
[Advance to Data Cleaning Process](#id_3_3_3)

<a id="id_3_2_5"></a>
> ### [So Far, So Good](#id_3_2_5)
>After we have `assessed` the dataset **manually** and **programmatically**, we're ready for the final step in Data Wrangling, [Cleaning Data](#id_3_3).
>- [X] Gathering
>- [X] Assessing
>- [ ] Cleaning
>- [ ] Storing
>- [ ] Analyzing
>- [ ] Visualizing
>- [ ] Reporting
>
>[Back to Data Wrangling Process](#id_3)

<a id="id_3_3"></a>
# [3. Cleaning Data](#id_3_3)
[Cleaning Data](https://en.wikipedia.org/wiki/Data_cleansing) is the final step in Data Wrangling. It's the process of correcting (or removing) corrupt or inaccurate records from a record set, table, or database through replacing, modifying, or deleting the dirty.

- [**Types of Data Cleaning**](#id_3_3_1)
- [**Data Cleaning Steps**](#id_3_3_2)
- [**Data Copying**](#id_3_3_copy)
- [**Data Cleaning Process**](#id_3_3_3)

<a id="id_3_3_1"></a>
## [Two types of Data Cleaning:](#id_3_3_1)
- **Manually** Cleaning (inefficient, time consuming and error prone)
- **Programmatically** Cleaning (for issues that occur more than one-time )

<a id="id_3_3_2"></a>
## [Data Cleaning Steps:](#id_3_3_2)
- **Define**, it's using verbs in order to call an action to fix the issue we observed.
- **Code**, it's doing the action we specified using programming codes.
- **Test**, if our code worked, using [visually](#id_3_2_3_1) or [programmatically](#id_3_2_3_2) assessments.

[Back to Data Wrangling](#id_3)

<a id="id_3_3_copy"></a>
## [Data Copying](#id_3_3_copy)
**Note:** Do not forget to copy each table before starting **Cleaning** phase, so, we can easily back to the original table of need.

Copying each dataframe using [DataFrame.copy](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.copy.html)

[Back to Cleaning Data](#id_3_3)

<a id="id_3_3_3"></a>
# [Data Cleaning Process:](#id_3_3_3)
We have 2 data issues need to be cleaned before continuing Analyzing and Visualizing
1. [Missing Values](#id_3_3_3_1)
2. [Cleaning for Tidiness](#id_3_3_3_2)
3. [Cleaning for Quality](#id_3_3_3_3)

**Note:** Don't forget to [**copy**](#id_3_3_copy) data before statring, so, we can back to the original data if we want.

[Back to Data Wrangling Process](#id_3)<br>
[Back to Assessment Docummentions](#id_3_2_4)

In [36]:
# Copying each dataframe
enhanced_archive_clean = enhanced_archive.copy()
image_predictions_clean = image_predictions.copy()
retweet_favorite_counts_clean = retweet_favorite_counts.copy()

<a id="id_3_3_3_1"></a>
# [1. Missing Values](#id_3_3_3_1)
Let's start with missing values in enhanced_archive_clean dataframe.

[Define](#id_3_3_3_1_1) [Code](#id_3_3_3_1_2) [Test](#id_3_3_3_1_3)

[Back to Data Cleaning Process](#id_3_3_3)<br>
[Back to Assessment Docummentions](#id_3_2_4)

<a id="id_3_3_3_1_1"></a>
#### [Define](#id_3_3_3_1_1)
Replace all the `None` values in enhanced_archive_clean data frame with [numpy.nan](https://numpy.org/doc/stable/reference/constants.html?highlight=nan#numpy.NaN) values.

[Back](#id_3_3_3_1)

<a id="id_3_3_3_1_2"></a>
#### [Code](#id_3_3_3_1_2)
[Back](#id_3_3_3_1)

In [37]:
# Replaceing Nones with NaNs
import numpy as np

# Replaceing None with NaNs
enhanced_archive_clean.replace('None', np.nan, inplace=True)

<a id="id_3_3_3_1_3"></a>
#### [Test](#id_3_3_3_1_3)
[Back](#id_3_3_3_1)

In [38]:
enhanced_archive_clean.info() # Check variable data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        1611 non-null   object
 13  doggo                       97 non-null     object
 14  floofer                     10 non-null     object
 15  pupper                      257 non-null    object
 16  puppo                       30 non-null     object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

<a id="id_3_3_3_2"></a>
# [2. Cleaning for Tidiness](#id_3_3_3_2)
Let's start cleaning the dataset and we going to start with structure issues"
1. [Merging Enhanced Archive DataFrame with Retweet and favorite DataFrame](#id_3_3_3_2_1)
2. [Metling Dog Stage Columns](#id_3_3_3_2_2)
3. [Melting Predictions Columns](#id_3_3_3_2_3)


[Back to Data Cleaning Process](#id_3_3_3)<br>
[Back to Assessment Docummentions](#id_3_2_4)

<a id="id_3_3_3_2_1"></a>
### [Merging Enhanced Archive DataFrame with Retweet and favorite DataFrame](#id_3_3_3_2_1)
[Define](#id_3_3_3_2_1_1) [Code](#id_3_3_3_2_1_2) [Test](#id_3_3_3_2_1_3)

[Back to Cleaning for Tidiness](#id_3_3_3_2)<br>
[Back to Docummentions](#id_3_2_4_2)

<a id="id_3_3_3_2_1_1"></a>
#### [Define](#id_3_3_3_2_1_1)
Merge `enhanced_archive_clean` and `retweet_favorite_counts_clean` on `tweet_id` using [DataFrame.merge]() method.

[Back](#id_3_3_3_2_1)

<a id="id_3_3_3_2_1_2"></a>
#### [Code](#id_3_3_3_2_1_2)
[Back](#id_3_3_3_2_1)

In [39]:
# merging enhanced_archive_clean and retweet_favorite_counts_clean on tweet_id variable 
# and 'left' type (keep the unmatches from enhanced_archive_clean) 
enhanced_archive_clean = enhanced_archive_clean.merge(retweet_favorite_counts_clean, on='tweet_id', how='left')

<a id="id_3_3_3_2_1_3"></a>
#### [Test](#id_3_3_3_2_1_3)
[Back](#id_3_3_3_2_1)

In [40]:
enhanced_archive_clean.columns.values # Check variable names

array(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id',
       'timestamp', 'source', 'text', 'retweeted_status_id',
       'retweeted_status_user_id', 'retweeted_status_timestamp',
       'expanded_urls', 'rating_numerator', 'rating_denominator', 'name',
       'doggo', 'floofer', 'pupper', 'puppo', 'retweet_count',
       'favorite_count'], dtype=object)

<a id="id_3_3_3_2_2"></a>
### [Metling Dog Stage Columns](#id_3_3_3_2_2)
The 4 "stages" variables (`doggo`, `floofer`, `pupper` and `puppo`) are unnecessary, and can be reduced to one variable named `stage`.<br>
[Define](#id_3_3_3_2_2_1) [Code](#id_3_3_3_2_2_2) [Test](#id_3_3_3_2_2_3)

[Back to Cleaning for Tidiness](#id_3_3_3_2)<br>
[Back to Docummentions](#id_3_2_4_2)

<a id="id_3_3_3_2_2_1"></a>
#### [Define](#id_3_3_3_2_2_1)
Clean `doggo`, `floofer`, `pupper` and `puppo` columns repetition, then melt them into one column named `stage` using [DataFrame.melt](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.melt.html?highlight=melt#pandas.DataFrame.melt).

[Back](#id_3_3_3_2_2)

<a id="id_3_3_3_2_2_2"></a>
#### [Code](#id_3_3_3_2_2_2)
[Back](#id_3_3_3_2_2)

In [41]:
import numpy as np

# get records' indices that have repetition in stage then drop them from enhanced_archive_clean
droped_repeated_ind = repeated_stage.query('repeated > 1').index.values
enhanced_archive_clean.drop(droped_repeated_ind, inplace=True)

# Stage cols names
stage_cols = ['doggo', 'floofer', 'pupper', 'puppo']

# specify the cols to compare with in melf function (all columns except for stage_cols)
id_vars = enhanced_archive_clean.columns.drop(stage_cols)

# melt stage_cols into one col named "stage", then drop the variable col
enhanced_archive_clean = enhanced_archive_clean.melt(id_vars=id_vars, 
                                                         value_vars=stage_cols, 
                                                         value_name='stage').drop(columns=['variable'])

# specify subset columns to get the duplicate columns by (all columns except stage col).
subset_cols = enhanced_archive_clean.columns.drop('stage').values

# sorting values by stage (so we can keep first occurs only later with our dropping a record that have stage value),
# dropping all duplicate records except first occurs, then reset index.
enhanced_archive_clean = enhanced_archive_clean.sort_values(by='stage').drop_duplicates(subset=subset_cols, 
                                                                                        keep='first').reset_index(drop=True)

<a id="id_3_3_3_2_2_3"></a>
#### [Test](#id_3_3_3_2_2_3)
[Back](#id_3_3_3_2_2)

In [42]:
# asserting if stage in the new modified dataframe or not
assert 'stage' in enhanced_archive_clean.columns

# asserting if any of the old stage columns still in the new modified dataframe
assert any(col in stage_cols for col in enhanced_archive_clean.columns) == False

# Value counts
enhanced_archive_clean.stage.value_counts()

pupper     245
doggo       83
puppo       29
floofer      9
Name: stage, dtype: int64

<a id="id_3_3_3_2_3"></a>
### [Melting Predictions Columns](#id_3_3_3_2_3)
Variables `p1` through `p3_dog` in `image_predictions` are unnecessary, and can be reduced to 4 variables.<br>
[Define](#id_3_3_3_2_3_1) [Code](#id_3_3_3_2_3_2) [Test](#id_3_3_3_2_3_3)

[Back to Cleaning for Tidiness](#id_3_3_3_2)<br>
[Back to Docummentions](#id_3_2_4_2)

<a id="id_3_3_3_2_3_1"></a>
#### [Define](#id_3_3_3_2_3_1)
By using [DataFrame.melt](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.melt.html?highlight=melt#pandas.DataFrame.melt), create multi-level melting to add at each level a new variable. to create these new variables:
- **number** as the number of the prediction (1, 2, 3).
- **prediction** as the value of the prediction.
- **conf** as the confidence interval for the prediction
- **reality** as the truth of the prediction.<br><br>


[Back](#id_3_3_3_2_3)

<a id="id_3_3_3_2_3_2"></a>
#### [Code](#id_3_3_3_2_3_2)
[Back](#id_3_3_3_2_3)

In [43]:
# Melting the old predictions dataframe to the new one
df1 = pd.melt(image_predictions_clean, id_vars='tweet_id', 
                                       value_vars=['p1', 'p2', 'p3'], 
                                       var_name='number', 
                                       value_name='prediction')

df2 = df1.join(pd.melt(image_predictions_clean, id_vars='tweet_id', value_vars=['p1_conf', 'p2_conf', 'p3_conf'],  
                        var_name='var_conf',  value_name='conf'), rsuffix='_right').drop(columns=['tweet_id_right', 'var_conf'])

image_predictions_clean = df2.join(pd.melt(image_predictions_clean, id_vars='tweet_id', 
                                           value_vars=['p1_dog', 'p2_dog', 'p3_dog'], 
                                           var_name='var_reality', 
                                           value_name='reality'), rsuffix='_right').drop(columns=['tweet_id_right', 
                                                                                                  'var_reality'])

image_predictions_clean = image_predictions_clean.sort_values(by=['tweet_id', 'number']).reset_index(drop=True)

<a id="id_3_3_3_2_3_3"></a>
#### [Test](#id_3_3_3_2_3_3)
[Back](#id_3_3_3_2_3)

In [44]:
image_predictions_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6225 entries, 0 to 6224
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    6225 non-null   int64
 1   number      6225 non-null   object
 2   prediction  6225 non-null   object
 3   conf        6225 non-null   float64
 4   reality     6225 non-null   bool
dtypes: bool(1), float64(1), int64(1), object(2)
memory usage: 200.7+ KB

<a id="id_3_3_3_3"></a>
# [3. Cleaning for Quality](#id_3_3_3_3)
Now it's time to clean the dirty tables!!
1. [Enhanced Archive Table](#id_3_3_3_3_1)
2. [Image Predictions Table](#id_3_3_3_3_2)

[Back to Data Cleaning Process](#id_3_3_3)<br>
[Back to Assessment Docummentions](#id_3_2_4)

<a id="id_3_3_3_3_1"></a>
## [1. Enhanced Archive Table](#id_3_3_3_3_1)
1. [Dropping Source and Rating Denominator Columns](#id_3_3_3_3_1_1)
2. [Modifying Name Column](#id_3_3_3_3_1_2)
3. [Modifying Stage Column](#id_3_3_3_3_1_3)
4. [Modifying Expanded Urls Column](#id_3_3_3_3_1_4)
5. [Modifying Enhanced Archive Table Data Types](#id_3_3_3_3_1_5)

[Back to Cleaning for Quality](#id_3_3_3_3)<br>
[Back to Docummentions](#id_3_2_4_1)

In [45]:
enhanced_archive_clean

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,retweet_count,favorite_count,stage
0,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Cassie. She is a college pup. Studying international doggo communication and stick theory. 14/10 so elegant much sophisticate https://t.co/t1bfwz5S2A,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255349198849/photo/1,14,10,Cassie,6585.0,29554.0,doggo
1,758828659922702336,NaN,NaN,2016-07-29 00:57:05 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This doggo is just waiting for someone to be proud of her and her accomplishment. 13/10 legendary af https://t.co/9T2h14yn4Q,NaN,NaN,NaN,https://twitter.com/dog_rates/status/758828659922702336/photo/1,13,10,NaN,3802.0,11157.0,doggo
2,760521673607086080,NaN,NaN,2016-08-02 17:04:31 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine - Make a Scene</a>","Doggo want what doggo cannot have. Temptation strong, dog stronger. 12/10 https://t.co/IqyTF6qik6",NaN,NaN,NaN,https://vine.co/v/5ApKetxzmTB,12,10,NaN,1379.0,4194.0,doggo
3,760893934457552897,NaN,NaN,2016-08-03 17:43:45 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Wishes. He has the day off. Daily struggles of being a doggo have finally caught up with him. 11/10 https://t.co/H9YgrUkYwa,NaN,NaN,NaN,https://twitter.com/dog_rates/status/760893934457552897/photo/1,11,10,Wishes,966.0,3802.0,doggo
4,763956972077010945,7.638652e+17,15846407.0,2016-08-12 04:35:10 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@TheEllenShow I'm not sure if you know this but that doggo right there is a 12/10,NaN,NaN,NaN,NaN,12,10,NaN,54.0,759.0,doggo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2337,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248165822465/photo/1,5,10,NaN,40.0,96.0,NaN
2338,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226329800704/photo/1,6,10,a,129.0,266.0,NaN
2339,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412701032449/photo/1,9,10,a,41.0,111.0,NaN
2340,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285002620928/photo/1,7,10,a,42.0,120.0,NaN
2341,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888022790149/photo/1,8,10,NaN,458.0,2383.0,NaN

<a id="id_3_3_3_3_1_1"></a>
### [1. Dropping Source and Rating Denominator Columns](#id_3_3_3_3_1_1)
`source` variable is irrelevant to our data, and there's no need for it.
<br>
[Define](#id_3_3_3_3_1_1_1) [Code](#id_3_3_3_3_1_1_2) [Test](#id_3_3_3_3_1_1_3)

[Back to Enhanced Archive Table](#id_3_3_3_3_1)<br>
[Back to Docummentions](#id_3_2_4_1)

<a id="id_3_3_3_3_1_1_1"></a>
#### [Define](#id_3_3_3_3_1_1_1)
Use `drop` method to drop `source` and `rating_denominator` variables.

[Back](#id_3_3_3_3_1_1)

<a id="id_3_3_3_3_1_1_2"></a>
#### [Code](#id_3_3_3_3_1_1_2)
[Back](#id_3_3_3_3_1_1)

In [46]:
enhanced_archive_clean.drop(columns=['source', 'rating_denominator'], inplace=True) # Drop unwanted columns

<a id="id_3_3_3_3_1_1_3"></a>
#### [Test](#id_3_3_3_3_1_1_3)
[Back](#id_3_3_3_3_1_1)

In [47]:
assert 'source' not in enhanced_archive_clean.columns
assert 'rating_denominator' not in enhanced_archive_clean.columns

<a id="id_3_3_3_3_1_2"></a>
### [2. Modifying Name Column](#id_3_3_3_3_1_2)
Let's modify name's missing and wrong values<br>
[Define](#id_3_3_3_3_1_2_1) [Code](#id_3_3_3_3_1_2_2) [Test](#id_3_3_3_3_1_2_3)

[Back to Enhanced Archive Table](#id_3_3_3_3_1)<br>
[Back to Docummentions](#id_3_2_4_1)

<a id="id_3_3_3_3_1_2_1"></a>
#### [Define](#id_3_3_3_3_1_2_1)
Use `replace` method to replace missed names values in name column to be Null. Also correct the other wrong names using `lambda` function.

[Back](#id_3_3_3_3_1_2)

<a id="id_3_3_3_3_1_2_2"></a>
#### [Code](#id_3_3_3_3_1_2_2)
[Back](#id_3_3_3_3_1_2)

In [48]:
# Getting the incorrect names that have their original names in the 'text' variable
wrong_fetched_names = enhanced_archive_clean[(enhanced_archive_clean['name'] == 'a') &
                                             (enhanced_archive_clean['text'].str.contains("named"))][['text', 'name']]

# Fetching the right names from 'text' variable
right_fetched_names = wrong_fetched_names.text.str.extract('named.([A-Za-z]+)').rename(columns={0: "name"})

# Getting the right name indices and values
right_names_index = right_fetched_names.index
right_names = right_fetched_names['name']

# Modifying the incorrect names with the correct ones.
enhanced_archive_clean.loc[right_names_index, 'name'] = right_names

In [49]:
# Replcae wrong names with np.nan
enhanced_archive_clean.name = enhanced_archive_clean.name.replace(wrong_names, np.nan)

# Modify some wrong fetched names.
enhanced_archive_clean.name = enhanced_archive_clean.name.apply(lambda x: "O'Malley" if x == "O" 
                                                                                         else('Jo. Jo' if x == 'Jo' 
                                                                                              else(x)))

<a id="id_3_3_3_3_1_2_3"></a>
#### [Test](#id_3_3_3_3_1_2_3)
[Back](#id_3_3_3_3_1_2)

In [50]:
# Check if these names corrected
assert all(name in enhanced_archive_clean.name.values for name in ["O'Malley", 'Jo. Jo']) == True

# Check if there are no lower names left
assert enhanced_archive_clean.loc[enhanced_archive_clean.name.str.islower()==True, 'name'].empty == True

# Check if the incorrect names are corrected
assert enhanced_archive_clean.loc[right_names_index][enhanced_archive_clean.loc[right_names_index]['name'] == 'a'].empty == True

<a id="id_3_3_3_3_1_3"></a>
### [3. Modifying Stage Column](#id_3_3_3_3_1_3)
<br>

[Define](#id_3_3_3_3_1_3_1) [Code](#id_3_3_3_3_1_3_2) [Test](#id_3_3_3_3_1_3_3)

[Back to Enhanced Archive Table](#id_3_3_3_3_1)<br>
[Back to Docummentions](#id_3_2_4_1)

<a id="id_3_3_3_3_1_3_1"></a>
#### [Define](#id_3_3_3_3_1_3_1)
Use astype to change `stage` data type from `object` to `category` and change values case to capital.

[Back](#id_3_3_3_3_1_3)

<a id="id_3_3_3_3_1_3_2"></a>
#### [Code](#id_3_3_3_3_1_3_2)
[Back](#id_3_3_3_3_1_3)

In [51]:
# Modifying data types
enhanced_archive_clean.stage = enhanced_archive_clean.stage.str.capitalize()
enhanced_archive_clean.stage = enhanced_archive_clean.stage.astype('category')

<a id="id_3_3_3_3_1_3_3"></a>
#### [Test](#id_3_3_3_3_1_3_3)
[Back](#id_3_3_3_3_1_3)

In [52]:
enhanced_archive_clean.stage.dtype # Check 'stage' data type

CategoricalDtype(categories=['Doggo', 'Floofer', 'Pupper', 'Puppo'], ordered=False)

<a id="id_3_3_3_3_1_4"></a>
### [4. Modifying Expanded Urls Column](#id_3_3_3_3_1_4)


[Define](#id_3_3_3_3_1_4_1) [Code](#id_3_3_3_3_1_4_2) [Test](#id_3_3_3_3_1_4_3)

[Back to Enhanced Archive Table](#id_3_3_3_3_1)<br>
[Back to Docummentions](#id_3_2_4_1)

<a id="id_3_3_3_3_1_4_1"></a>
#### [Define](#id_3_3_3_3_1_4_1)
Use `lambda` function to iterate over `expanded_urls` variable and `split` on `,` if it was there to fetch one and only one urls for each record.

[Back](#id_3_3_3_3_1_4)

<a id="id_3_3_3_3_1_4_2"></a>
#### [Code](#id_3_3_3_3_1_4_2)
[Back](#id_3_3_3_3_1_4)

In [53]:
# Modifying 'urls' variable
enhanced_archive_clean.expanded_urls = enhanced_archive_clean.expanded_urls.map(lambda x: 
                                                                                    str(x.split(',')[0]) 
                                                                                        if ',' in str(x) 
                                                                                            else(x))

In [54]:
tweet_urls = enhanced_archive_clean.copy()[['tweet_id', 'expanded_urls']] # Create a df with only ids and urls
tweet_urls['url_len'] = tweet_urls['expanded_urls'].map(lambda x: len(str(x))) # Adding url lengths

# url lengths less than 50
tweet_len_le_25 = tweet_urls[(tweet_urls['url_len'] < 25) & (tweet_urls['expanded_urls'].notnull())].index

# Replace values for urls that their length is below 25 (invalid link) 
# except for values with 3 which are (missing values, i.e., NaNs)
enhanced_archive_clean.at[tweet_len_le_25.values[0], 'expanded_urls'] = np.nan

<a id="id_3_3_3_3_1_4_3"></a>
#### [Test](#id_3_3_3_3_1_4_3)
[Back](#id_3_3_3_3_1_4)

In [55]:
enhanced_archive_clean.expanded_urls.map(lambda x: len(str(x))).unique()

array([ 63,  29,   3,  55,  44,  57,  40, 184,  64,  68, 169,  65,  61,
        41,  58,  43,  38,  59,  54,  32,  66,  48,  67,  53,  35,  49,
        50,  51,  69,  45,  56, 173,  86, 123,  52,  34,  37], dtype=int64)

<a id="id_3_3_3_3_1_5"></a>
### [5. Modifying Enhanced Archive Table Data Types](#id_3_3_3_3_1_5)
Change inaccurate `enhanced_archive_clean` variables data types.
<br>
[Define](#id_3_3_3_3_1_5_1) [Code](#id_3_3_3_3_1_5_2) [Test](#id_3_3_3_3_1_5_3)

[Back to Enhanced Archive Table](#id_3_3_3_3_1)<br>
[Back to Docummentions](#id_3_2_4_1)

<a id="id_3_3_3_3_1_5_1"></a>
#### [Define](#id_3_3_3_3_1_5_1)
Use `astype` method to change variables to `object` and `int` data types, and `to_datetime` to datetime data type.

[Back](#id_3_3_3_3_1_5)

<a id="id_3_3_3_3_1_5_2"></a>
#### [Code](#id_3_3_3_3_1_5_2)
[Back](#id_3_3_3_3_1_5)

In [56]:
# Change IDs columns to object data type
enhanced_archive_clean = enhanced_archive_clean.astype({'tweet_id' : 'object',
                               'in_reply_to_status_id' : 'object',
                               'in_reply_to_user_id' : 'object',
                               'retweeted_status_id' : 'object',
                               'retweeted_status_user_id' : 'object'})

# Change retweet_count and favorite_count columns to int after filling NaNs
enhanced_archive_clean.retweet_count = enhanced_archive_clean.retweet_count.fillna(0).astype('int')
enhanced_archive_clean.favorite_count = enhanced_archive_clean.favorite_count.fillna(0).astype('int')

# Change timestamp and retweeted_status_timestamp columns to datetime.
enhanced_archive_clean.timestamp = pd.to_datetime(enhanced_archive_clean.timestamp)
enhanced_archive_clean.retweeted_status_timestamp = pd.to_datetime(enhanced_archive_clean.retweeted_status_timestamp)

<a id="id_3_3_3_3_1_5_3"></a>
#### [Test](#id_3_3_3_3_1_5_3)
[Back](#id_3_3_3_3_1_5)

In [57]:
enhanced_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2342 entries, 0 to 2341
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2342 non-null   object
 1   in_reply_to_status_id       77 non-null     object
 2   in_reply_to_user_id         77 non-null     object
 3   timestamp                   2342 non-null   datetime64[ns, UTC]
 4   text                        2342 non-null   object
 5   retweeted_status_id         179 non-null    object
 6   retweeted_status_user_id    179 non-null    object
 7   retweeted_status_timestamp  179 non-null    datetime64[ns, UTC]
 8   expanded_urls               2282 non-null   object
 9   rating_numerator            2342 non-null   int64
 10  name                        1517 non-null   object
 11  retweet_count               2342 non-null   int32
 12  favorite_count              2342 non-null   int32
 13  stage                       366 non-null    category
dtypes: category(1), datetime64[ns, UTC](2), int32(2), int64(1), object(8)
memory usage: 222.2+ KB

<a id="id_3_3_3_3_2"></a>
## [2. Image Predictions Table](#id_3_3_3_3_2)
1. [Modifying Number Column](#id_3_3_3_3_2_1)
2. [Modifying Prediction Column](#id_3_3_3_3_2_2)
3. [Modifying Image Predictions Table Data Types](#id_3_3_3_3_2_3)

[Back to Cleaning for Quality](#id_3_3_3_3)<br>
[Back to Docummentions](#id_3_2_4_1)

<a id="id_3_3_3_3_2_1"></a>
### [1. Modifying Number Column](#id_3_3_3_3_2_1)

[Define](#id_3_3_3_3_2_1_1) [Code](#id_3_3_3_3_2_1_2) [Test](#id_3_3_3_3_2_1_3)

[Back to Enhanced Archive Table](#id_3_3_3_3_2)<br>
[Back to Docummentions](#id_3_2_4_1)

<a id="id_3_3_3_3_2_1_1"></a>
#### [Define](#id_3_3_3_3_2_1_1)
Use `str.replace` to change `number` variables from `(p1, p2, p3)` to `(1, 2, 3)`.

[Back](#id_3_3_3_3_2_1)

<a id="id_3_3_3_3_2_1_2"></a>
#### [Code](#id_3_3_3_3_2_1_2)
[Back](#id_3_3_3_3_2_1)

In [58]:
image_predictions_clean.number = image_predictions_clean.number.replace(['p1', 'p2', 'p3'], ['1', '2', '3'])

<a id="id_3_3_3_3_2_1_3"></a>
#### [Test](#id_3_3_3_3_2_1_3)
[Back](#id_3_3_3_3_2_1)

In [59]:
image_predictions_clean.number.value_counts()

2    2075
1    2075
3    2075
Name: number, dtype: int64

<a id="id_3_3_3_3_2_2"></a>
### [2. Modifying Prediction Column](#id_3_3_3_3_2_2)

[Define](#id_3_3_3_3_2_2_1) [Code](#id_3_3_3_3_2_2_2) [Test](#id_3_3_3_3_2_2_3)

[Back to Enhanced Archive Table](#id_3_3_3_3_2)<br>
[Back to Docummentions](#id_3_2_4_1)

<a id="id_3_3_3_3_2_2_1"></a>
#### [Define](#id_3_3_3_3_2_2_1)
Use str.replace to modify `prediction` and str.title() to capitalize it.

[Back](#id_3_3_3_3_2_2)

<a id="id_3_3_3_3_2_2_2"></a>
#### [Code](#id_3_3_3_3_2_2_2)
[Back](#id_3_3_3_3_2_2)

In [60]:
image_predictions_clean.prediction = image_predictions_clean.prediction.str.replace('_', ' ').str.title()

<a id="id_3_3_3_3_2_2_3"></a>
#### [Test](#id_3_3_3_3_2_2_3)
[Back](#id_3_3_3_3_2_2)

In [61]:
image_predictions_clean.prediction.unique()[:20]

array(['Welsh Springer Spaniel', 'Collie', 'Shetland Sheepdog', 'Redbone',
       'Miniature Pinscher', 'Rhodesian Ridgeback', 'German Shepherd',
       'Malinois', 'Bloodhound', 'Rottweiler', 'Doberman',
       'Bernese Mountain Dog', 'English Springer',
       'Greater Swiss Mountain Dog', 'Box Turtle', 'Mud Turtle',
       'Terrapin', 'Chow', 'Tibetan Mastiff', 'Fur Coat'], dtype=object)

<a id="id_3_3_3_3_2_3"></a>
### [3. Modifying Image Predictions Table Data Types](#id_3_3_3_3_2_3)

[Define](#id_3_3_3_3_2_3_1) [Code](#id_3_3_3_3_2_3_2) [Test](#id_3_3_3_3_2_3_3)

[Back to Enhanced Archive Table](#id_3_3_3_3_2)<br>
[Back to Docummentions](#id_3_2_4_1)

<a id="id_3_3_3_3_2_3_1"></a>
#### [Define](#id_3_3_3_3_2_3_1)
Use `astype` method to change `tweet_id` data type to `object` and `number` to `category`.

[Back](#id_3_3_3_3_2_3)

<a id="id_3_3_3_3_2_3_2"></a>
#### [Code](#id_3_3_3_3_2_3_2)
[Back](#id_3_3_3_3_2_3)

In [62]:
image_predictions_clean = image_predictions_clean.astype({'tweet_id' : 'object',
                                                          'number' : 'category'})

<a id="id_3_3_3_3_2_3_3"></a>
#### [Test](#id_3_3_3_3_2_3_3)
[Back](#id_3_3_3_3_2_3)

In [63]:
image_predictions_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6225 entries, 0 to 6224
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    6225 non-null   object
 1   number      6225 non-null   category
 2   prediction  6225 non-null   object
 3   conf        6225 non-null   float64
 4   reality     6225 non-null   bool
dtypes: bool(1), category(1), float64(1), object(2)
memory usage: 158.3+ KB

<a id="id_3_3_4"></a>
> ### [So Far, So Good](#id_3_3_4)
>Now, we have complete wrangling the data set it's time to [Store it](#id_4). Let's cehck [Our Goal](#id_1_3).
>- [X] Gathering
>- [X] Assessing
>- [X] Cleaning
>- [ ] Storing
>- [ ] Analyzing
>- [ ] Visualizing
>- [ ] Reporting
>
>
>[Back to Data Wrangling Process](#id_3)

<a id="id_4"></a>
<h1 style="font-size:30px; color:#3A71AE">Data Storing</h1>

Our data are `complete` and `clean` for now, so, let's store it in a SQL server using [SQLAlchemy](https://www.sqlalchemy.org/) library.

[Back to Top](#top)

In [64]:
from sqlalchemy import create_engine

# specify the database direction
database_dir = os.path.join(folder_data, 'twitter_archive_master.db')

# Create SQLAlchemy Engine and empty we_rate_dogs_tweets database
engine = create_engine('sqlite:///{}'.format(database_dir))

#check if the database file exists and delete it if it do
if os.path.exists(database_dir):
    os.remove(database_dir)

# write each table to a master table in we_rate_dogs_tweets database
enhanced_archive_clean.to_sql('enhanced_archive_master', engine, index=False)
image_predictions_clean.to_sql('image_predictions_master', engine, index=False)

In [65]:
# We can also save the dataset in a csv file

enhanced_archive_clean.to_csv(os.path.join(folder_data, 'enhanced_archive_master.csv'), index=False)
image_predictions_clean.to_csv(os.path.join(folder_data, 'image_predictions_master.csv'), index=False)

<a id="id_4_1"></a>
> ### [So Far, So Good](#id_3_3_4)
>Our data now are stored in two tables `enhanced_archive_master` and `image_predictions_master` in `we_rate_dogs_tweets` database.
>
> In the next notebook [**Analyze and Visualize WeRateDogs**](01_analyze_visualize.ipynb) I will start to analyze the clean data, then visualize what will be found.
>
>- [X] Gathering
>- [X] Assessing
>- [X] Cleaning
>- [x] Storing
>- [ ] Analyzing
>- [ ] Visualizing
>- [ ] Reporting
>
>
>[Back to Data Storing](#id_4)

<img src="src/tbc.png">